<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            font-family: 'Microsoft YaHei',sans-serif;
            color: #333;
        }
        .wrap {
            width: 680px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
        }

        h1,h2,h3,h4,h4,h6 {
            font-weight: 500;
        }

        h1 {
            text-align: center;
        }
        .text-align-center {
            text-align: center;
        }
        .text-align-right {
            text-align: right;
        }
        .text-indent-2em {
             text-indent: 2em;
        }
        p {
            font-size: 14px;
        }
        /*.spaceborderbottom {
            border-bottom:1px solid #ddd;
            width: 180px;
            display: inline-block;
        }*/
    </style>
</head>

<body>
    <div class="wrap">
        <h1>
            用户服务协议


        </h1>
        <h4 class="text-align-center">
                                          版本号:2016年V1

        </h4>
        <br />
        <h4>
            协议须知

        </h4>
        <p class="text-indent-2em">
            1.在甲方使用“E+账户”（以下称“本产品”）服务前，请甲方认真阅读、充分理解本协议各条款内容并选择接受或不接受本协议。本协议由甲方（以下称“甲方”）和广东钱途互联商务服务有限公司（以下称“乙方”）共同签署。当甲方按照提示填写信息、阅读并同意本协议且完成全部注册程序或使用本产品所提供的服务后，即表示甲方已充分阅读、理解并同意完全接受本协议的全部内容。除非甲方融资人接受本协议所有条款，否则甲方无权使用本产品提供的服务。如甲方对协议有任何疑问的，应向客服咨询。
        </p>
        <p class="text-indent-2em">
            2.本产品面向中华人民共和国境内合资格的自然人、企业或组织提供的服务。作为本产品的用户，甲方必须为具有完全民事权利能力及民事行为能力的中国大陆公民，或符合本产品及乙方合作机构规定的企业或组织。否则，甲方应立即停止在本产品的注册和本产品服务使用，乙方亦有权随时终止甲方的注册进程及服务使用。
        </p>
        <h4>
            一、 注册登录
        </h4>
        <p class="text-indent-2em">
            1.在注册和使用本产品服务期间，甲方应如实提供其真实资料和信息，并保证自甲方注册时起至甲方使用本产品服务的所有期间内，其提交的所有资料和信息（包括但不限于手机号码、电子邮件地址、联系地址、邮政编码、个人身份信息、银行账户信息等、企业类型、所在地、人员数量、融资需求及融资款项用途等）均为真实、准确、完整，及时的，并于资料信息变更时及时更新。如乙方有合理理由怀疑甲方提供的资料错误、不实、过时或不完整的，有权向甲方发出询问及/或要求改正的通知，或有权直接做出删除相应资料的处理，直至中止、终止对甲方提供部分或全部服务，甲方应自行承担因此产生的任何直接或间接损失及不利后果。

        </p>
        <p class="text-indent-2em">
            2.甲方须自行负责对其账号和密码保密，且须对该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或网上签署/续签协议或购买服务等）承担责任。除非有法律规定或司法裁定，且征得乙方的同意，否则，甲方的登录名和密码不得以任何方式转让、赠与或继承。如乙方同意甲方设置昵称的，甲方设置的昵称不得侵犯或涉嫌侵犯他人合法权益。

        </p>
        <p class="text-indent-2em">
            3.甲方同意：(1) 如发现任何人未经授权使用甲方的登录名和密码的情况，应立即通知乙方，并授权乙方暂停提供服务及展开调查，根据调查结果作出相应处理；(2) 确保甲方在每个上网时段结束时，以正确方式离开本产品，注销或删除上网记录。乙方不因甲方未能遵守本款规定而发生的任何损失或损毁负责。甲方理解乙方对甲方请求采取行动需要合理时间，乙方对在采取行动前已经产生的后果（包括但不限于甲方的任何损失）不承担任何责任。

        </p>
        <p class="text-indent-2em">
            4.甲方在乙方网站注册，即视为甲方同意乙方及乙方的合作机构向甲方注册时填写的电子邮箱、移动电话等发送与本产品及服务有关的电子邮件或短信。

        </p>
        <h4>
            二、服务概述

        </h4>
        <p>
            甲方通过使用本产品及乙方提供的运营服务，可将其银行卡账户与甲方开立的E+账户进行绑定，并登录至本产品所对接的互联网投融资平台进行用户注册，从而使用信息校验、融资申请、融资查询、融资款项接收、定向支付、融资还款等功能或服务，实现互联网融资。

        </p>
        <h4>
            三、服务内容

        </h4>
        <p>
            银行卡（银行账户）绑定<br />
1.甲方使用本协议项下乙方提供的相关服务前，需要在产品界面输入其本人\企业持有的、用于接收融资款项及进行融资还款的银行卡（银行账户）信息，经乙方或乙方合作机构与银行信息交互及系统校验通过后，与甲方的E+账户完成绑定。<br />
2.相关平台服务的上述流程和功能可能调整和变更，具体以乙方实际提供的为准。<br />
3.甲方应当妥善保管其交易、支付等密码及其手机号码等，若因甲方原因造成支付密码或验证码被盗用，乙方不承担任何责任。<br />
4.在使用银行卡（银行账户）绑定服务前，甲方需符合下列要求：<br />
（1） 甲方使用本服务符合当地的法律法规，并能独立承担法律责任。<br />
（2） 甲方已开设了有效的银行账户。<br />
（3） 甲方需提供真实、有效、完整的银行卡（银行账户）等信息，并及时更新。<br />
（二）信息校验<br />
乙方基于其与合作机构在征信领域展开的合作业务，可运用相关技术对甲方进行在线人脸活体检测和识别，或对甲方所提供的身份信息及信用信息（包括但不限于各类基本资料、银行账户信息等）等进行审核与校验，并建立信用数据。但基于目前信用信息校验的手段与技术水平有限，乙方对甲方身份及交易背景的准确性和绝对真实性不做任何保证。<br />
（三）融资申请<br />
甲方可通过使用乙方提供的产品与服务发布融资需求，并委托乙方代为将其通过产品系统所采集到的甲方融资项目推送至乙方产品所对接的第三方互联网投融资平台（网址：——，以下称“第三方平台”），在线发起融资申请。具体方式详见系统页面操作指引。<br />
（四）融资查询与管理<br />
甲方在进行融资申请后，乙方根据产品所对接的第三方平台所反馈的结果在产品系统中进行相应记录，为甲方提供包括融资申请状态、融资金额、融资利率、融资期限、融资标的、还款日、还款方式、还款情况等信息在内的融资信息查询服务，及融资标的线上管理功能。具体方式详见系统页面操作指引。<br />
（五）融资款项的接收<br />
如乙方发布的融资项目根据第三方平台的相关规则成立并完成融资资金募集，甲方可通过使用乙方提供的产品与服务向第三方平台发出指令，实现融资款项发放至与甲方指定的收款账户（包括甲方个人账户或甲方指定的其他账户）。<br />
（六）融资还款<br />
     甲方应在第三方平台相关协议约定的还款日以主动还款或委托商业银行代扣等方式进行还款，并通过乙方提供的产品或服务向第三方平台及相关合作机构发出相应的支付、余额扣划等操作指令，实现在约定时间内将融资还款及利息等足额清算给第三方平台之投资人。<br />
（七）协议管理<br />
本协议经甲方以网络在线点击确认的方式订立，乙方为客户提供第三方电子认证与数字证书服务，采用电子签名加密技术对交易信息进行固化。甲方委托乙方保管所有与本协议有关的书面文件或电子信息。 甲方确认并同意由乙方提供的与本协议有关的书面文件或电子信息应作为本协议有关事项的终局证明。<br />

        </p>
        <h4>
            四、承诺及说明

        </h4>
        <p>
            1.甲方确认，其委托乙方推送至第三方平台的融资项目可能存在不成功的情况，相关交易不成功的风险，由甲方自行承担。<br />
2.甲方保证其为履行本协议而向乙方提供的全部资料均真实、有效。<br />
3.甲方确认其所有操作均为其本人的真实意思表示。<br />
4.乙方将尽商业上的合理努力去要求与乙方合作的第三方主体不得保留甲方的个人信息或对确需留存的信息采取保护措施，但乙方无法保证第三方确定会采取相应保护措施，乙方亦不对这些主体的行为及后果承担任何责任。如果甲方发现第三方的网页或应用程序存在风险时，甲方可停止使用相应服务；甲方仍然使用相应服务的，自行承担所带来的后果或自行向第三方进行追索。<br />

        </p>
        <h4>
            五、服务终止

        </h4>
        <p>
            1. 甲方有权向乙方要求注销其账户，经乙方审核同意的，乙方将注销账户。届时，甲、乙双方基于本协议的合同关系即终止。乙方的账户被注销后，甲方不再负有为甲方保留或向甲方披露账户中任何信息的义务，也没有义务向甲方或第三方转发任何甲方未曾阅读或发送过的信息。
        </p>
        <p>
            2. 甲方理解并同意，与乙方的合同关系终止后：（1) 乙方有权继续保存会员的资料。（2) 甲方在使用服务期间存在违法行为或违反本协议的行为的，乙方仍可依据本协议向甲方主张权利或依法依规向行政、司法等机关进行披露。（3）甲方在使用服务期间因使用服务与其他第三方之间发生的关系，不因本协议的终止而终止，向甲方提供服务的其他第三方仍有权向甲方主张权利，甲方应继续按甲方与其他第三方的协议/合同履行义务。
        </p>
        <h4>
            六、商标、知识产权、专利的保护

        </h4>
        <p>
            1.甲方及关联公司所有系统及甲方上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由甲方或甲方关联公司依法拥有其知识产权（包括但不限于商标权、专利权、著作权、商业秘密等）。 

        </p>
        <p>
            2.非经甲方或甲方关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表甲方程序或内容。 

        </p>
        <p>
            3.尊重知识产权是甲方应尽的义务，如有违反，甲方应承担损害赔偿责任。

        </p>
        <h4>
            七、其他

        </h4>
        <p>
            1.如甲方在使用乙方所提供的产品或服务进行融资的过程中，为其履行还款义务而提供保障措施（包括但不限于购买保险、提供远期兑付凭证、应收账款、仓单质押、保证金等），则甲方需相应委托乙方作为质权代理人/债权人代理人、远期兑付凭证保管人、仓单保管人或保证金代管人，代为签署、履行相关协议及进行融资标的保管【具体操作细则由《投融资平台服务协议（融资人版）》予以确定）】，但乙方所提供的保管服务及代理行为不构成对甲方履行还款义务的任何担保。

        </p>
        <p>2.由于法律及监管政策变化或包括且不限于地震、火灾、战争、电力中断、黑客攻击、计算机病毒在内的非乙方原因系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。
</p>
        <p>3.本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。
</p>
        <p>4.双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
</p>
















        <h4>
            工商注册号：9144030010001686XA  

        </h4>
        <h4>
            乙方（出质人）：<br />
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        </h4>
        <h4>
            工商注册号：
        </h4>
        <h4>
            融资项目编号：
        </h4>
        <br />
        <h4>
            鉴于：
        </h4>
        <p>
1.乙方与投资人分别通过投融资平台（网址：e.cmbchina.com，以下称“平台”）签署了相应投融资平台服务协议（对应融资项目编号：               ，以下称“主合同”）。
        </p>
        <p>
    2.投资人同意委托甲方作为投资人的代理人，与乙方签署本合同。投资人知悉和认可本合同的全部条款，并同意接受本合同的约束。
        </p>
        <p>
            3.为担保主合同项下债务本息及其他一切相关费用得到按时足额偿还，乙方愿意以其所持有的应收账款作为质物。甲方同意接受投资人的委托，作为投资人的质权代理人接受乙方所持有的应收账款作为质物。

        </p>
        <h5>
            现甲乙双方依照有关法律规定，经平等协商，就下列条款达成一致，特订立本合同以兹共同遵守：

        </h5>
        <h5>
            一、乙方将其所有的应收账款质押给甲方，即乙方因提供一定的货物、服务或设施而获得的要求义务人付款的权利以及依法享有的其他付款请求权，包括现有的和未来的金钱债权及其产生的收益，，以及法律、行政法规禁止转让的付款请求权（但不包括因票据、信用证或其他有价证券而产生的付款请求权）。应收账款信息以乙方在融资系统（网址：https://efinanceloan.frontpay.cn）发起融资申请时填写确认的应收账款信息为准。乙方授权甲方办理上述应收账款质押登记。应收账款质押登记系统为中征动产融资统一登记平台。

        </h5>
        <h5>
            二、质押担保范围。

        </h5>
        <p>
            2.1本合同项下的质押担保范围为主合同项下的主债权本金、利息（含罚息、复息）、违约金、损害赔偿金、甲方实现债权的费用等。甲方实现债权的费用，是指甲方采取诉讼、仲裁等方式实现债权时支付的诉讼（仲裁）费、律师费、差旅费、公告费、送达费、执行费、保全费及其他实现债权的必要费用。

        </p>
        <p>
            2.2为避免歧义，甲方因准备、完善、履行或强制执行本合同或行使本合同项下的权利或与之有关而发生的所有费用和支出（包括但不限于律师费用、诉讼或仲裁费用等）均构成被担保债权的一部分。

        </p>
        <h5>
            三、质押期间

        </h5>
        <p>
            质押期间指从本合同生效之日起至主合同项下债权诉讼时效届满的期间。

        </p>
        <h5>四、应收账款有关权利凭证的移交与交付。</h5>
        <p>
            4.1 乙方应于签订本合同之日前将按甲方的要求将与所质押的应收账款有关的权利凭证交付给甲方。甲方应妥善保管好相关权利凭证，如因保管不善造成权利凭证灭失的，甲方应承担补办费用。

        </p>
        <p>
            4.2 乙方未及时移交或交付质物的，应对甲方因此遭受的损失承担赔偿责任。

        </p>
        <p>
            4.3 质押期间，如本合同项下应收账款债务人如提前清偿债务的，乙方应将提前收回的款项支付至乙方在甲方处开立的账户；如应收账款债务人以银行承兑汇票、商业承兑汇票等票据方式进行支付的，乙方应将取得的票据办理贴现手续，并将将贴现款转入乙方在甲方处开立的账户。前述款项由甲方代为进行管理，并在主合同项下债务到期时用于清偿。

        </p>
        <p>
            4.4甲方有权收取质物所生的孳息（如有），此项孳息应当先充抵收取孳息的费用。

        </p>
        <p>
            4.5在本合同项下的保险、公证、登记及保管等费用由乙方承担。

        </p>
        <h5>
            五、出质登记、变更及通知

        </h5>
        <p>
            5.1 乙方同意授权甲方在人民银行《应收账款质押登记公示系统》办理质押登记（包括初始等级、变更登记、异议登记、注销登记等）。

        </p>
        <p>
            5.2 乙方应本着诚实信用的原则，积极配合甲方按照前述规定办理相关手续，如因乙方的原因未能在及时办妥相关手续，乙方应对甲方因此遭受的损失承担赔偿责任。

        </p>
        <p>
            5.3 乙方应如实向甲方告知以下情况，如因乙方未及时告知甲方下述情况而导致的登记失效等后果，乙方应对甲方因此遭受的损失承担赔偿责任：

        </p>
        <p>
            5.3.1乙方应将自质押登记起过去四个月之内所有有效的法定注册名称、身份证号码告知甲方；

        </p>
        <p>
            5.3.2乙方应在法人信息、公司名称等质押登记相关信息出现变动后及时告知甲方；

        </p>
        <p>
            5.3.3乙方应在对质押登记产生异议时或进行异议登记后，及时告知甲方。

        </p>
        <p>
            5.4 甲方有权以甲方的名义或甲乙双方的名义直接通知应收账款债务人应收账款质押事宜。

        </p>
        <h5>
            六、在本合同有效期内，用于质押的应收账款的债务人有下列情形之一的，甲方有权拍卖、变卖或协议转让等方式处分相应应收账款或要求应收账款债务人向甲方清偿债务：

        </h5>
        <p>
            6.1 经营情况明显恶化；

        </p>
        <p>6.2 转移财产、抽逃资金以逃避债务；
</p>
        <p>6.3 丧失商业信誉；
</p>
        <p>6.4 有丧失或可能丧失债务履行能力的其他情形；
</p>
        <p>6.5 质物价值明显减少，可能足以危害甲方权利的；
</p>
        <p>6.6 应收账款的回款状况恶化，可能危害甲方权利 。
</p>
        <h5>
            七、出现下列情况之一时，甲方可以依法行使质权：

        </h5>
        <p>    7.1 乙方发生主合同规定的违约事件之一，或发生主合同项下某具体合同规定的违约事件的；
</p>
        <p>    7.2 乙方不履行本合同规定的义务；
</p>
        <p>7.3 乙方发生停业、被吊销或注销营业执照，申请或被申请破产、解散等情形；
</p>
        <p>7.4 足以危及主合同项下债权实现的其他事由。
</p>
        <h5>
            八、若出现以下情形之一，甲方有权要求乙方支付主合同项下主债务金额150%的违约金，若因此而给甲方及主合同项下之投资人造成经济损失的，则乙方还须赔偿甲方及主合同项下之投资人的全部经济损失，甲方及主合同项下之投资人均有权立即向乙方追索：

        </h5>
        <p>8.1应收账款存在争议
</p>
        <p>8.2乙方对应收账款无所有权/处分权。
</p>
        <p>8.3应收账款权利存在瑕疵。
</p>
        <p>8.4存在限制转让的情形。
</p>
        <p>8.5乙方在出质前或出质后转让或出质给第三人。
</p>
        <p>8.6乙方应收账款债务人恶意串通，损害甲方或投资人权益。　
</p>
        <h5>
            九、质权的实现。

        </h5>
        <p>9.1在主合同项下债务履行期届满时，乙方未履行其对投资人的到期还款义务，由乙方以质物在本合同确定的质押担保范围内承担担保责任；在主合同规定的债务履行期届满前，如甲方接受投资人委托根据主合同约定提前向乙方追索/或投资人根据主合同的约定提前向乙方追索，乙方亦以质物承担担保责任。
</p>
        <p>9.2本合同项下的应收账款到期前，乙方同意由甲方办理相关托收手续，并无条件同意甲方将托收的账款项直接划入投融资平台指定的还款账户。乙方应向甲方支付商户管理费，金额按全部质押应收账款金额的0%计算或一次性收取0元，乙方授权甲方直接从乙方在甲方所开立的账户或通过投融资平台从投资人支付的投资金额（即实际融资金额）中扣收应支付给甲方的相关费用。
</p>
        <p>9.3 如乙方根据主合同约定,及时、足额向主协议项下全部投资人履行还款义务的，甲方应当返还应收账款有关权利凭证并解除质押登记。
</p>
        <p>9.4当出现本合同第6条、第7条、第8条规定的任一情形时，甲方可以采取以下措施之一项或多项实现质权：
</p>
        <p>9.4.1要求应收账款债务人直接向甲方支付应收账款；
</p>
        <p>9.4.2采取拍卖或变卖的方式处分所质押的应收账款债权；
</p>
        <p>9.5甲方通过以上方式实现质权所获价款超过主合同项下乙方所欠债务本息及其他一切费用数额的部分归乙方所有，不足部分甲方另行追索。
</p>
        <h5>
            十、在本合同有效期间，甲方或主合同项下之投资人对乙方的任何违约或延误行为施以任何宽容、宽限或延缓执行主合同内甲方或主合同项下之投资人应享有的权益或权利，均不能损害、影响或限制甲方依有关法律规定和本合同作为债权人应享有的一切权益和权利，也不能视为甲方放弃对现有或将来违约行为采取行动的权利。

        </h5>
        <h5>
            十一、联系方式与送达

        </h5>
        <p>11.1本合同项下的任何通知或付款要求等，都将以乙方在平台预留的联系方式发送给乙方。
</p>
        <p>11.2任何一方变更联系地址，应当及时通知另一方，否则自行承担因此可能产生的损失。
</p>
        <p>11.3任何文件、通讯和通知只要按照上述地址发送，即应视作在下列日期被送达:
</p>
        <p>11.3.1邮递（包括特快专递、平信邮寄、挂号邮寄），以邮寄之日后的第五个工作日视为送达日；
</p>
        <p>11.3.2传真或其他电子通讯方式，以发送之日视为送达日；
</p>
        <p>11.3.3专人送达，以收件人签收之日视为送达日；
</p>
        <p>11.3.4甲方以在其网站、网上银行、电话银行或营业网点发布公告的方式发送通知的，以公告发布之日视为送达日。
</p>
        <p>11.4甲方在任何情况下均无需对邮递、传真、电话或任何其他通讯系统所出现的任何传送失误、缺漏或延迟承担任何责任。
</p>
        <p>11.5乙方名称、法定代表人、住所等发生变化而未书面通知甲方的，甲方按本合同所载资料向乙方发送所有通知或文书，视同送达。
</p>
        <h5>
                十二、适用法律及争议的解决方式

        </h5>
        <p>    12.1 本合同的订立、解释及争议的解决均适用中华人民共和国法律。
</p>
        <p>12.2 甲、乙双方在履行本合同过程中发生的争议，双方同意采取主合同所约定的纠纷解决方式解决。
</p>
        <h5>
                十三、质押合同的生效及失效

        </h5>
        <p>13.1本协议采用电子协议形式签订，并在平台上保留存档，各方均认可该形式协议的法律效力。乙方使用其在平台注册的账户登录后，根据平台的相关规则通过点击确认或类似方式签署的电子协议即视为乙方的真实意愿并以乙方的名义签署的协议，具有法律效力。乙方应妥善保管自己的账户密码等账户信息，不得以账户密码等账户信息被盗用或其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。本协议自文本最终生成之日起生效，至主合同项下全部债务及其他一切费用全部还清时失效。
</p>
        <p>     13.2本合同生效后，未经双方另行达成书面协议，任何一方不得擅自变更或解除本合同。
</p>
        <h5>
            十四、乙方声明与承诺

        </h5>
        <p>14.1乙方是依法注册成立并有效存续的法人或其他组织，有充分的民事行为能力签订并履行本合同。
</p>
        <p>14.2乙方签订本合同已依法得到上级主管部门或公司董事会等有权机构的批准，并取得所有必要的授权。
</p>
        <p>14.3乙方签署和履行本合同，不违反任何对其资产有约束力的规定或约定，不违反任何乙方与他人签署的协议以及其他任何对乙方有约束力的文件、约定和承诺的内容。
</p>
        <p>14.4乙方向甲方提供的所有文件、资料、报表和凭证等是准确、真实、完整和有效的，不含有与事实不符的重大错误或遗漏任何重大事实；乙方同意接受甲方对其生产经营活动和财务状况的检查、监督，并随时根据甲方要求提供反映乙方经营情况及资信情况的财务报告、财务报表及其他资料。
</p>
        <p>14.5乙方未隐瞒任何已发生或即将发生的有可能使甲方不接受其为出质人的下列事件：
</p>
        <p>14.5.1与乙方或其高级管理人员有牵连的重大违法或被索赔事件；
</p>
        <p>14.5.2未结案的诉讼、仲裁事件或刑事、行政处罚，并预计在本合同执行期间也不会发生此种诉讼、仲裁或刑事、行政处罚；
</p>
        <p>14.5.3乙方承担的各类债务、或有负债或向第三人提供的保证、抵（质）押担保；
</p>
        <p>14.5.4乙方在与甲方或第三方的合同项下所发生的违约事件；
</p>
        <p>14.5.5其他影响乙方财务状况和担保能力的情况。
</p>
        <p>14.6乙方声明，本合同是甲方作为投资人的代理人与乙方订立的合同，乙方知道甲方与投资人之间的委托代理关系。乙方同意本合同可直接约束投资人和乙方。
</p>
        <p>14.7质物对应的交易关系和债权债务关系真实、合法、有效。
</p>
        <p>14.8乙方对质物享有完整的权利。
</p>
        <p>14.9质物不存在法律、法规规定或合同约定的不得转让的情形。
</p>
        <p>14.10质物此前未被转让，且其上不存在权利冲突。
</p>
        <p>14.11质物权利没有超过行使期限，且未被拒绝付款。</p>
        <p>14.12乙方在经营活动中严格遵守国家各项法律法规，严格按照乙方《企业法人营业执照》规定的经营范围开展各项业务。
</p>
        <p>14.13本合同有效期内，乙方如发生分立、合并（兼并）等情形，由变更后的机构承担或分别承担本合同项下义务。
</p>
        <h5>
            十五、本合同的独立性

        </h5>
        <p>本合同的有效性不受乙方与任何单位及/或个人签订的任何协议、文件的影响，也不因乙方的欺诈、重组、停业、解散、清算、破产、合并（兼并）、分立、改制等各种变化而发生任何改变，也不因甲方给予乙方任何时间上的宽限和延期或而受任何影响。即使在主合同债权同时另有抵、质押担保或保证人的情况下甲方受投资人委托放弃或解除其他抵、质押担保或解除保证人保证责任，乙方依然依本质押合同规定内容对甲方承担质押担保责任。
</p>
        <h5>
            十六、其他事项

        </h5>
        <p>16.1甲方给予乙方的任何宽容、宽限、优惠或延缓行使本合同中享有的权益或权利，均不损害、影响或限制甲方依有关法律、行政法规规定和本合同约定应享有的一切权益和权利，不应视为甲方对本合同项下权利、权益的放弃，也不影响乙方在本合同项下的任何义务。
</p>
        <p>16.2本合同所使用术语，除另有明确说明外，均具有与主合同规定相同的含义。本合同中“工作日”均指银行的营业日，合同履行过程中，若某个提款、还款日为非营业日，则顺延至下一个营业日。
</p>
        <p>16.3本合同不论因何种原因而在法律上成为无效，或部分条款无效，乙方仍应偿还主合同项下一切债务。若发生上述情况，甲方有权将乙方的前述情形告知投资人，并有权根据主合同的约定或投资人的委托行使相关权益救济措施。                                     
</p>
        <p>16.4在本合同有效期内发生的每笔应收账款质押业务及其对应的主合同信息，均以甲方及投融资平台保存的业务信息、应收账款质押登记系统中的记录为准。甲方及投融资平台的业务记录是本合同的组成部分，与本合同具有同等法律效力。乙方对甲方及投融资平台业务记录的准确性、真实性及合法性予以确认。
</p>
        <h5>
            特别提示：

        </h5>
        <p>本合同的所有条款由各方进行了充分的协商。甲方已提请其他当事方特别注意有关免除或限制甲方责任、甲方单方拥有某些权利、增加其他当事方责任或限制其他当事方权利的条款，并对其作全面、准确的理解。甲方已应其他当事方的要求对上述条款作出相应的说明。签约各方对本合同条款的理解完全一致。
</p>
        <p class="text-align-right">甲方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
        <p class="text-align-right">乙方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
        <p class="text-align-right">签订日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</p>
        
    </div>

    <script>
    </script>
</body>
</html>

