<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<style type="text/css">
    body {
        background-color: #fafafa;
        margin: 0;
        padding: 0;
        font-family: 'Microsoft YaHei',sans-serif;
        color: #333;
        font-size: 14px;
    }
    .mod-agreement{width: 680px;
        margin: 40px auto;
        background-color: #fff;
        padding: 40px;}
    .mod-agreement .underline{text-decoration: underline}
    .mod-agreement  ul{list-style: none; outline: none; margin: 0; padding: 0}
    .mod-agreement p ,.mod-agreement h1 ,.mod-agreement h2 ,.mod-agreement h3 ,.mod-agreement h4 {padding: 0; margin: 0;}
    .mod-agreement h1 ,.mod-agreement h2 ,.mod-agreement h3 ,.mod-agreement h4{font-weight: normal;}
    .mod-agreement .ui-tit{padding:10px 0;text-align:center;}
    .mod-agreement .ui-tit h2{padding:20px 0;font-size:24px;color:#333; }
    .mod-agreement .ui-tit p{text-align:right; padding:0; margin: 0}
    .mod-agreement .ui-subTitle{padding:20px 0;}
    .mod-agreement .ui-subTitle p{font-size:14px;color:#333;line-height:24px; }
    .mod-agreement .ui-subTitle h4{line-height: 34px}
    .mod-agreement .ui-content{}
    .mod-agreement .ui-content h3{padding-bottom:5px;color:#333; line-height: 30px}
    .mod-agreement .ui-content .content{padding-bottom:10px;color:#454545;line-height:24px;}
    .mod-agreement .ui-content .content h4{padding:5px 0;padding-left:20px;}
    .mod-agreement .ui-content .content p{text-indent:2em;}
    /*.mod-agreement .ui-content .content ul li {padding: 3px 0 3px 20px; list-style: none; margin: 0}*/
    .mod-agreement .ui-content .content .ul-p p{text-indent: 0; padding: 3px 0 3px 20px;}
</style>


<body>


<div class="mod-agreement">
    <div class="ui-tit">
        <h2>保证金质押及代管协议</h2>
        <p style="padding-right: 100px">编号：</p>
    </div>

    <div class="ui-subTitle">
        <div class="fn-mb-20">
            <h4>质权（代理）人：<span class="fs-14 default-FontColor">（以下称甲方）</span></h4>
            <h4 class="default-FontColor">主要负责人：</h4>
        </div>
        <div class="fn-mb-10">
            <h4>出质人 <span class="default-FontColor">（为法人或其他组织）</span>：<span class="fs-14 default-FontColor">（以下称乙方）</span></h4>
            <h4 class="default-FontColor">法定代表人/主要负责人：<br/>或</h4>
            <h4>出质人 <span class="default-FontColor">（为自然人）</span>：</h4>
            <h4 class="default-FontColor">身份证号：</h4>
        </div>
    </div>

    <div class="ui-content">
        <div class="content">
            <p>鉴于：</p>
            <p>
                乙方基于<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（融资客户）</span>与投资人分别与互联网投融资平台签署了相应投融资平台服务协议，且双方最终形成的借款合同关系（以下合称主合同）。为担保主合同项下债务本息及其他一切相关费用得到按时足额偿还，乙方愿意以其所有的或依法有权处分的财产（或权利）作为质物。
            </p>
            <p>
                互联网投融资平台为投融资双方提供交易撮合等互联网金融服务。
            </p>
            <p>
                协议双方同意，投融资平台作为投融资双方提供信息发布与管理、投融资交易管理等技术服务的平台，有权根据投融资平台服务协议的约定，对融资人及投资人的投融资交易行为进行管理。
            </p>
            <p>
                根据投资人签署的《投融资平台服务协议（投资人版）》，投资人同意委托甲方作为投资人的代理人，与<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（融资客户）</span>签署本协议并代为对乙方所交纳的保证金及其使用进行管理。投资人知悉和认可本协议的全部条款，并同意接受本协议的约束。
            </p>
            <p>
                为担保主合同项下债务本息及其他一切相关费用得到按时足额偿还，乙方愿意以其合法所有资金作为质物。甲方同意接受投资人的委托，作为投资人的质权代理人接受乙方以其合法所有的资金作为质物并对该资金进行管理。现甲乙双方依照有关法律规定，经平等协商，就下列条款达成一致，特订立本合同：
            </p>
        </div>

        <h3>第1条  乙方质押标的</h3>
        <div class="content">
            <h4>1.1 甲方指定的保证金收款账户信息：</h4>
            <div class="ul-p">
                <p>账户名： 中金支付有限公司客户备付金</p>
                <p>账号：</p>
                <p>开户行：</p>
            </div>
          <h4>1.2 保证金存入方式：</h4>
            <div class="ul-p">
                <p>1.2.1 乙方同意为主合同项下的投资人提供初始保证金，以保证主合同项下债务本息及其他一切相关费用按时得到足额偿还。乙方应确保其缴纳的保证金来源合法，甲方无审查乙方资金来源的义务。乙方主动支付上述初始保证金时，账户开户行均会进行相应有效的安全验证。</p>
                <p>1.2.2 乙方同意为主合同项下的投资人提供新增保证金，来源包括保险公司支付给融资人的其他款项，以保证主合同项下债务本息及其他一切相关费用按时得到足额偿还。</p>
                <p>1.2.3 乙方同意,如乙方以其在主合同项下获得的融资用于购买&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司（以下简称“保险公司”）提供的商业车险产品，而乙方并未根据主合同约定及时、足额向投资人履行还款义务的，则乙方或其代理人依据相关合同约定办理退保手续后，所获得的退保资金将作为本协议项下乙方向投资人提供的新增保证金, 以保证主合同项下债务本息及其他一切相关费用按时得到足额偿还。</p>
                <p>1.2.4 乙方同意为主合同项下的投资人提供新增保证金，来源包括车辆灭失/全车盗损等将导致保险合同终止或保单失效的情况下的理赔资金，以保证主合同项下债务本息及其他一切相关费用按时得到足额偿还。</p>

            </div>
          <h4>1.3 保证金金额：</h4>
          <div class="ul-p">
              <p>（1）初始保证金：融资款项的8.5% </p>
              <p>（2）新增保证金：保费金额的28%（保险公司支付给融资人的其他款项）</p>
              <p>（3）新增保证金（或有）：等于退保保费金额</p>
              <p>（4）新增保证金（或有）：等于理赔资金</p>
          </div>
        </div>

        <h3>第2条 质押担保的方式</h3>
        <div class="content">
            <h4>2.1 在主合同项下债务履行期届满时，投资人向乙方（或债务人）提供而未获偿还的贷款、垫款或其他债务由乙方以质物在本合同第3条确定的质押担保范围内承担担保责任；在主合同规定的债务履行期届满前，如甲方代理投资人根据主合同约定提前向乙方（或债务人）追索，乙方亦以质物承担担保责任。</h4>
            <h4>2.2 甲方代理投资人和乙方（或债务人）之间就主合同项下的债务履行期限、利率、金额等达成展期协议书或变更有关条款，或甲方代理投资人在主合同项下债务履行期内根据主合同规定调整利率的，无需征得乙方的同意或通知乙方，乙方均予以认可，不影响乙方依据本合同所承担的质押担保责任。</h4>
        </div>

        <h3>第3条 质押担保的范围</h3>
        <div class="content">
            <h4>本合同担保的范围包括但不限于主合同项下债务本金、利息、罚息、违约金、实现质权的费用和其他相关费用。具体包括但不限于：</h4>
            <h4>3.1 投资人根据主合同向乙方（或债务人）提供的贷款本金及相应利息、罚息、复息、违约金和有关费用；</h4>
            <h4>3.2甲方代理投资人行使质权而发生的费用（包括但不限于诉讼费、律师费、公告费、送达费、差旅费等）。</h4>
        </div>

      <h3>第4条 质物的移交与交付</h3>
      <div class="content">
          <h4>4.1 乙方以保证金提供质押的，乙方应按甲方要求向其保证金收款账户存入约定的保证金，自资金进入保证金收款账户之日起即视为特定化和移交甲方占有，作为乙方（或债务人）在主合同项下债务的担保,未经甲方许可乙方不得动用。</h4>
          <h4>4.2 保证金的交付</h4>
       <div class="ul-p">
           <p>4.2.1 乙方同意融资申请起息之前将本协议项下之初始保证金通过招行账户代扣、非招行账户网关支付或快捷支付等方式，支付至甲方指定的保证金收款账户。</p>
           <p>4.2.2 乙方同意融资申请起息之后将本协议项下之新增保证金通过招行账户代扣、非招行账户网关支付或快捷支付等方式，支付至甲方指定的保证金收款账户。</p>
           <p>4.2.3 乙方同意融资申请起息之后将本协议项下之新增保证金，由保险公司直接支付至甲方指定的保证金收款账户。乙方确认并同意，本合同第1条第3款中所涉的退保资金、理赔资金、保险公司支付给融资人的其他款项等属于乙方的资金，作为乙方缴纳的保证金。乙方确认并同意保险公司按照《退保及理赔、保单挂失补领授权委托书》的约定，将上述款项支付至上述保证金收款账户即视为乙方缴纳保证金的行为。</p>
           <p>4.2.4 乙方依约存入保证金的行为，即视同乙方将资金以保证金的形式特定化并移交甲方，由甲方代投资人进行管理。乙方同意由甲方指定保证金账户，包括但不限于甲方自有账户。</p>
           <p>主合同项下债务到期时，甲方有权代投资人直接从乙方缴纳的保证金中扣收相应金额直接划入投融资平台指定的第三方支付机构的项目到期还款账户以清偿主合同项下债务。</p>
           <p>乙方对上述操作方式完全认可，确认对保证金的存入/扣收/释放并不影响保证金的特定化，乙方继续以保证金为主合同项下债务提供担保。具体保证金的存入/扣收/释放，及该笔保证金与担保的主债权的对应关系以甲方及相关平台保存的业务信息/业务记录为准。乙方认可该等业务信息/业务记录的真实性、准确性和合法性。</p>
           <p>乙方未及时移交或交付质物的，应对甲方因此遭受的损失承担赔偿责任。</p>
       </div>
      </div>

      <h3>第6条 质押期间</h3>
      <div class="content">
          <div class="ul-p">
              <p>质押期间指从本合同生效之日起至主合同项下债权诉讼时效届满的期间。</p>
          </div>
      </div>

      <h3>第7条 质物的保管及责任</h3>
      <div class="content">
          <div class="ul-p">
              <p>甲方负有妥善保管质物的义务。因保管不善致使质物灭失或者毁损的，甲方应当承担相应的民事责任。</p>
              <p>甲方不能妥善保管质物可能致使其灭失或者毁损的，乙方可以要求甲方将质物提存，或者要求提前清偿债务而返还质物。</p>
          </div>
      </div>

      <h3>第8条 保险</h3>
      <div class="content">
          <div class="ul-p">
              <p>乙方应按甲方要求的险别，以甲方为第一受益人，将质物向&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保险公司办理足额的财产保险，并将保险单交甲方保存。投保期限应长于主合同约定的债务履行期。若主合同项下债务履行期延长或到期后债务未获清偿，乙方须办理延长投保手续。投保的财产若发生损失，甲方有权从保险赔偿中优先提前收回主合同项下借款、垫款、或其它债务本息及其他一切相关费用，或将保险赔偿金存入保证金收款账户(该等资金自进入保证金收款账户之日起视为特定化及移交甲方占有，继续作为乙方或债务人在主合同项下债务的质押担保，未经甲方许可乙方不得动用)，或与乙方协商办理保险赔偿金的提存，以备主合同项下债务到期时收回相应债务或支付应付款项。</p>
              <p>如乙方未办理质物投保手续或延长投保期手续，甲方有权代理乙方直接办理。</p>
              <p>投保期满后乙方（或债务人）未还清主合同项下一切债务，乙方必须办理质物投保续期手续。如乙方未办理质物投保续期手续，甲方有权代理乙方直接办理。</p>
          </div>
      </div>

      <h3>第9条 质物的孳息收取权</h3>
      <div class="content">
          <ul>
              <li>甲方有权收取质物所生的孳息。此项孳息应当先充抵收取孳息费用。</li>
          </ul>
      </div>

      <h3>第10条 有关费用的承担</h3>
        <div class="content">
            <div class="ul-p">
                <p>本合同涉及公证（强制执行公证除外）或其他委托第三方提供服务的事项的，相关费用由委托方自行承担。如双方共同作为委托人的，则各承担50％。</p>
            </div>
        </div>

      <h3>第11条 <span class="fs-16">乙方隐瞒质物存在共有、争议或乙方对质物无所有权、处分权等情况，甲方可以要求乙方提供新的担保，乙方不能按甲方要求提供新的担保的，应承担主合同项下借款/所承兑或贴现总金额本金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%的违约金。若因此而给甲方造成经济损失的，则乙方还须赔偿甲方的全部经济损失。</span></h3>

      <h3>第12条 <span class="fs-16">甲乙双方均认可:在主合同项下债务履行期届满（即到达主合同约定的还款日）时，对于乙方未按主合同约定向投资人足额归还的款项及相关费用（如有），则平台将通过代扣代缴的方式或指令甲方对本协议约定之乙方缴纳的相应保证金进行扣划,用以偿付乙方应还未还之款项。</span></h3>

      <h3>第13条 <span class="fs-16">在本合同有效期内，乙方如发生分立、合并，由变更后的机构承担或分别承担本合同项下义务。乙方被宣布解散或破产，甲方有权提前处分其质押财产。</span></h3>

      <h3>第14条 <span class="fs-16">出现下列情况之一时，甲方可以代理投资人依法处分质物：</span></h3>
      <div class="content">
          <h4>14.1 乙方（或债务人）发生主合同规定的违约事件，可能损害甲方利益的，</h4>
          <h4>14.2 乙方或其他抵/质押人/保证人发生主合同规定的违约事件，或乙方不履行本合同规定的义务；</h4>
          <h4>14.3 乙方为自然人时，死亡而无继承人或受遗赠人；</h4>
          <h4>14.4 乙方为自然人时，其继承人或受遗赠人放弃继承或遗赠，拒绝履行偿还借款本息义务的；</h4>
          <h4>14.5 乙方为法人或其他组织时，发生停业、被吊销或注销营业执照、申请或被申请破产、解散等情形；</h4>
          <h4>14.6 危及主合同项下甲方债权实现的其他事由。</h4>
      </div>

      <h3>第15条 本合同的独立性</h3>
      <div class="content">
          <div class="ul-p">
              <p>本合同是独立的及无条件的，其有效性不受主合同效力的影响，也不受乙方与任何单位签订的任何协议、文件的影响，也不因乙方的欺诈、重组、停业、解散、清算、破产等各种变化而发生任何改变。即使在甲方债权同时另有抵、质押担保或保证人的情况下甲方放弃抵押权顺位，放弃、变更或解除其他抵、质押担保，变更、解除保证人保证责任，或甲方选择先行要求乙方以质物承担质押担保责任，乙方依然依本质押合同规定内容对甲方承担质押担保责任。</p>
              <p>投资人依据主合同规定停止发放未发放的各项融资，提前收回已发放的各项债务，均不影响乙方依据本合同所承担的担保责任。</p>
          </div>
      </div>

      <h3>第16条 质权的实现</h3>
       <div class="content">
           <h4>16.1主合同项下债务履行期届满之时或之前，投资人在主合同项下向债务人（或乙方）提供的融资本息及费用获得足额的清偿，甲方应当返还质物。</h4>
           <h4>16.2 在主合同项下债务履行期届满（即到达主合同约定的还款日）时，对于乙方未按主合同约定向投资人足额归还的款项及相关费用（如有），则平台将通过代扣代缴的方式或指令甲方对本协议约定之乙方缴纳的相应保证金进行扣划,用以偿付乙方应还未还之款项。</h4>
           <div class="ul-p">
               <p>甲方有权代理投资人就保证金优先受偿。保证金金额超过主合同项下乙方（或债务人）所欠债务本息及其他一切相关费用数额的部分归乙方所有，不足部分甲方代理投资人另行追索。</p>
               <p>乙方发生本合同第11条规定的情形，甲方代理投资人要求乙方提供保证金作为新增担保的，乙方应按甲方要求向甲方缴纳足额保证金，该等资金自缴纳户之日起视为特定化及移交甲方占有，作为乙方（或债务人）在主合同项下债务的质押担保，未经甲方许可乙方不得动用。</p>
           </div>
       </div>

        <h3>第17条 合同的变更和解除</h3>
        <div class="content">
            <div class="ul-p">
                <p>本合同生效后，未经对方同意，任何一方不得擅自变更或解除本合同。需要变更或解除本合同时，应经双方协商一致，达成书面协议。协议未达成前，本合同条款仍然有效。</p>
            </div>
        </div>

        <h3>第19条  适用法律及争议的解决方式</h3>
        <div class="content">
            <h4>19.1 本合同的订立、解释及争议的解决均适用中华人民共和国法律。</h4>
            <h4>19.2甲乙双方在履行本合同中发生的争议，由双方协商或通过调解解决。</h4>
            <div class="ul-p">
                <p>协商或调解不成的，双方同意按照主合同约定的争议解决方式解决。</p>
            </div>
        </div>

        <h3>第20条 通知</h3>
        <div class="content">
            <div class="ul-p">
                <p>甲方及乙方与本协议有关的通知、要求等应以书面形式发送。</p>
                <p>甲方的联系地址为：</p>
                <p>乙方的联系地址为：</p>
                <p>由专人递送的，收件方签收视为送达（收件方拒收的，于拒收日视为送达）；以邮政信函方式递交的，寄出后满七日视为送达；以传真方式递交的，收件方传真系统接收传真后视为送达。</p>
                <p>任何一方变更联系地址，应当及时通知另一方，否则自行承担因此可能产生的损失。</p>
            </div>
        </div>

        <h3>第21条 术语</h3>
        <div class="content">
            <div class="ul-p">
                <p>本合同所使用术语，除另有明确说明外，均具有与主合同规定相同的含义。</p>
            </div>
        </div>

        <h3>第22条 本合同的生效：</h3>
        <div class="content">
            <div class="ul-p">
                <p>本合同自双方法定代表人（主要负责人）或其授权代理人签字（或盖名章）并加盖单位公章/合同专用章后生效（当乙方为自然人时本合同自甲方法定代表人（主要负责人）或其授权代理人签字（或盖名章）并加盖单位公章/合同专用章及乙方签字后生效），至主合同项下债务本息及其他一切费用全部还清时失效。</p>
            </div>
        </div>

        <h3>第23条 其他事项</h3>
        <div class="content">
            <h4>23.1 <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
            <h4>23.2 <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
            <h4>23.3 <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
        </div>

        <h3>第24条 附则</h3>
        <div class="content">
            <h4>本合同一式 <span class="underline">&nbsp;</span>份，甲、乙双方及 <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 、<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>各执一份。</h4>
        </div>

       <div class="content">
        <h4 style="padding-top: 40px"><strong>特别提示：</strong></h4>
        <h4><strong>本合同的所有条款由各方进行了充分的协商。甲方已提请其他当事方特别注意有关免除或限制甲方责任、甲方单方拥有某些权利、增加其他当事方责任或限制其他当事方权利的条款，并对其作全面、准确的理解。甲方已应其他当事方的要求对上述条款作出相应的说明。签约各方对本合同条款的理解完全一致。</strong>
        </h4>
       </div>

        <div class="content" style="padding-top: 60px">
            <div class="ul-p">
                <p>甲方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（盖章）</p>
                <p>要负责人或授权代理人（签字/盖名章）：</p>
            </div>
        </div>

        <div class="content" style="padding-top: 60px">
            <div class="ul-p">
                <p>乙方为法人或其他组织时签署此栏：</p>
                <p>乙方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（盖章）</p>
                <p>法定代表人/主要负责人或授权代理人（签字/盖名章）：</p>
            </div>
        </div>

        <div class="content" style="padding-top:60px">
            <div class="ul-p">
                <p>乙方为自然人时签署此栏：</p>
                <p>乙方（签字）：</p>
            </div>
        </div>

        <p style="padding-top: 20px; text-align: right">签署日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</p>


    </div>
</div>
</body>

