<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            font-family: 'Microsoft YaHei',sans-serif;
            color: #333;
            font-size: 14px;
        }
        body * {
            text-align: justify;
        }
        .wrap {
            width: 680px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
        }

        h1,h2,h3,h4,h4,h6 {
            font-weight: 500;
        }

        h1 {
            text-align: center;
        }
        .text-align-center {
            text-align: center;
        }
        .text-align-right {
            text-align: right;
        }
        .text-indent-2em {
            text-indent: 2em;
        }
        /*.spaceborderbottom {
            border-bottom:1px solid #ddd;
            width: 180px;
            display: inline-block;
        }*/
        .oltype1 > li {
            padding-bottom: 1.8em;
        }

         .oltype1 > li > p {
            padding: 0;
            margin: 0;
        }

        .oltype1 > li > ul {
            list-style-type: decimal-leading-zero;
            padding-top: 1em;
        }
        .oltype1 > li > ul > li {
            padding-bottom: 1em;
        }
        table {
            font-size: 14px;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
        table th,
        table td {
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: 500;
        }
        table th {
            text-align: center;
            line-height: normal;
        }
        .underline {
            text-decoration: underline;
        }
        .word-break{
            word-wrap: break-word;
            word-break: normal;
        }
        .height h3{
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="height" style="height: 920px">
        <h1>
            商业承兑汇票质押协议
        </h1>
        <h4 class="text-align-center">
            编号:
        </h4>
        <br />
        <h3>
            甲方（质权人/质权代理人）：
        </h3>
        <h3>
            工商注册号：
        </h3>
        <br />
        <h3>
            乙方（出质人）：
        </h3>
        <h3>
            工商注册号：
        </h3>
        <h3>
            融资项目编号：
        </h3>
        <br />
        <h3>
            鉴于：
        </h3>
        <ol class="oltype1">
            <li>
                乙方与投资人分别通过投融资平台（以下称“平台”）签署了相应投融资平台服务协议（对应融资项目编号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;），且双方最终形成了借款合同（以下称“主合同”）关系。
            </li>
            <li>
                投资人同意委托甲方作为投资人的代理人，与乙方签署本合同并保管质押的商业承兑汇票（以下简称商业承兑汇票或票据）。投资人知悉和认可本合同的全部条款，并同意接受本合同的约束。
            </li>
            <p>
                为担保主合同项下债务本息及其他一切相关费用得到按时足额偿还，乙方愿意以其所有商业承兑汇票作为质物。甲方同意接受投资人的委托，作为投资人的质权代理人接受商业承兑汇票作为质物。现甲乙双方依照有关法律规定，经平等协商，就下列条款达成一致，特订立本合同以兹共同遵守：
            </p>
        </ol>
        </div>
        <h3>
            第一条  质物
        </h3>
        <p>
            本合同项下的质物为乙方所有的商业承兑汇票。质物的信息如下：
        </p>
        <table>
            <tr>
                <th width="80">汇票号码</th>
                <td><div class="word-break"></div></td>
                <th width="80">汇票金额</th>
                <td></td>
            </tr>
            <tr>
                <th>出票日期</th>
                <td></td>
                <th>汇票到期日</th>
                <td></td>
            </tr>
            <tr>
                <th>承兑人</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3" style="height: 152px">


                </td>
            </tr>


        </table>
        <h3>
            第二条  质押担保范围
        </h3>
        <ol class="oltype1">
            <li>本合同项下的质押担保范围为主合同项下的主债权本金、利息（含罚息、复息）、违约金、损害赔偿金、甲方实现债权的费用等。甲方实现债权的费用，是指甲方采取诉讼、仲裁等方式实现债权时支付的诉讼（仲裁）费、律师费、差旅费、公告费、送达费、执行费、保全费及其他实现债权的必要费用。
            </li>
            <li>为避免歧义，甲方因准备、完善、履行或强制执行本合同或行使本合同项下的权利或与之有关而发生的所有费用和支出（包括但不限于律师费用、诉讼或仲裁费用等）均构成被担保债权的一部分。
            </li>
            <li>甲方有权收取质物所生的孳息（如有，）此项孳息应当先充抵收取孳息费用。
            </li>
        </ol>
        <h3>
            第三条  质押期间
        </h3>
        <p class="text-indent-2em">
            质押期间指从本合同生效之日起至主合同项下债权诉讼时效届满的期间。
        </p>


        <h3>
            第四条  质物的保管及责任
        </h3>
        <p class="text-indent-2em">
            甲方负有妥善保管质物的义务。因保管不善致使质物灭失或者毁损的，甲方应当承担相应的民事责任。
        </p>
        <h3>
            第五条  质物的保险
        </h3>
        <ol class="oltype1">
            <li>
                乙方应按甲方要求的险别，甲方为该保险项下的第一受益人购买足额保险，并将保险单正本交由甲方保管。
            </li>
            <li>
                乙方在本合同有效期内保持保险的连续性，如乙方中断保险，甲方有权代为续保或投保。甲方未代为续保或投保的，乙方对甲方因保险中断而蒙受的一切损失负全部责任。
            </li>
            <li>
                保险赔偿金如不足以清偿主合同项下债务的，甲方有权向乙方另行追偿。
            </li>
            <li>
                保险费用由乙方承担。
            </li>
        </ol>
        <h3>
            第六条  质物担保的方式
        </h3>
        <ol class="oltype1">
            <li>
                在主合同项下债务履行期届满时，乙方未履行其对投资人的到期还款义务，由乙方以质物在本合同确定的质押担保范围内承担担保责任；在主合同规定的债务履行期届满前，如甲方接受投资人委托根据主合同约定提前向乙方追索/或投资人根据主合同的约定提前向乙方追索，乙方亦以质物承担担保责任。
            </li>
            <li>
                本合同质押的商业承兑汇票到期前，乙方同意由甲方办理票款托收相关手续，并无条件同意甲方将托收的商业承兑汇票款项直接划入投融资平台指定的第三方支付机构的项目到期还款账户。
            </li>
        </ol>
        <h3>
            第七条  质物的交付
        </h3>
        <p class="text-indent-2em">
            乙方应于签订本合同之日将质押的商业承兑汇票交付给甲方，并作商业承兑汇票质押背书。乙方未及时移交或交付质物的，应对甲方因此遭受的损失承担赔偿责任
        </p>
        <h3>
            第八条  出现下列情况之一时，甲方可以依法处分质物，行使相应的票据权利（包括但不限于票据托收、转让票据等法律法规规定的方式）：
        </h3>
        <ol class="oltype1">
            <li>
                甲方依照乙方出具的《商业承兑汇票到期对外支付承诺书》向承兑人托收；
            </li>
            <li>
                乙方发生主合同或本合同规定的违约事件，或不履行本合同规定的义务；
            </li>
            <li>发生主合同项下回收逾期的情形；
            </li>
            <li>乙方发生停业、被吊销或注销营业执照、申请或被申请破产、解散等情形；
            </li>
            <li>危及主合同项下投资人债权实现的其他事由。
            </li>
            <p>
                处分所得款项/托收款项在优先支付质物处分费用和本合同项下乙方应支付或偿付给甲方的费用后，用于清偿主合同项下债务。乙方无条件同意质权人将托收的商业承兑汇票款项/处分所得款项直接划入投融资平台指定的第三方支付机构的项目到期还款账户。该款项超过主合同项下乙方所欠全部债务及其他一切相关费用数额的部分归乙方所有，不足部分甲方有权另行追索。
            </p>
        </ol>
        <h3>
            第九条  乙方声明与承诺
        </h3>
        <ol class="oltype1">
            <li>
                乙方是依法注册成立并有效存续的法人或其他组织，有充分的民事行为能力签订并履行本合同。
            </li>
            <li>
                乙方签订本合同已依法得到上级主管部门或公司董事会等有权机构的批准，并取得所有必要的授权。
            </li>
            <li>
                乙方签署和履行本合同，不违反任何对其资产有约束力的规定或约定，不违反任何乙方与他人签署的协议以及其他任何对乙方有约束力的文件、约定和承诺的内容。            </li>
            <li>
                乙方向甲方提供的所有文件、资料、报表和凭证等是准确、真实、完整和有效的，不含有与事实不符的重大错误或遗漏任何重大事实；乙方同意接受甲方对其生产经营活动和财务状况的检查、监督，并随时根据甲方要求提供反映乙方经营情况及资信情况的财务报告、财务报表及其他资料。
            </li>
            <li>
                乙方未隐瞒任何已发生或即将发生的有可能使甲方不接受其为出质人的下列事件：
                <ul>
                    <li>
                        与乙方或其高级管理人员有牵连的重大违法或被索赔事件；
                    </li>
                    <li>
                        未结案的诉讼、仲裁事件或刑事、行政处罚，并预计在本合同执行期间也不会发生此种诉讼、仲裁或刑事、行政处罚；
                    </li>
                    <li>
                        乙方承担的各类债务、或有负债或向第三人提供的保证、抵（质）押担保；
                    </li>
                    <li>
                        乙方在与甲方或第三方的合同项下所发生的违约事件；
                    </li>
                    <li>
                        其他影响乙方财务状况和担保能力的情况。
                    </li>
                </ul>
            </li>
            <li>
                乙方声明，本合同是甲方作为投资人的代理与乙方订立的合同，乙方知道甲方与投资人之间的委托代理关系。乙方同意本合同可直接约束投资人和乙方。
            </li>
            <li>
                质物对应的交易关系和债权债务关系真实、合法、有效。
            </li>
            <li>
                质物真实、合法、有效，记载事项完整，没有被伪造、变造的签章。
            </li>
            <li>
                乙方对质物享有完整的票据权利。
            </li>
            <li>
                质物不存在法律、法规规定或合同约定的不得转让的情形。
            </li>
            <li>
                质物上乙方及其前手背书真实、有效，票据背书连续。
            </li>
            <li>
                质物上不存在优先于甲方的票据权利，未转让或质押给第三方。
            </li>
            <li>
                质物权利没有超过行使期限，且未被拒绝付款。
            </li>
            <li>
                质物不存在被申请挂失止付、公示催告或被有权机关采取查封、冻结等保全或执行措施的情形。
            </li>
            <li>
                乙方承诺，不会对本协议项下设定质押的商业承兑汇票进行任何形式的挂失止付或向法院申请公式催告；
            </li>
            <li>
                在经营活动中严格遵守国家各项法律法规，严格按照乙方《企业法人营业执照》规定的经营范围开展各项业务。
            </li>
        </ol>
        <h3>
            第十条  违约事件
        </h3>
        <ol class="oltype1">
            <li>
                下列任一情形即构成乙方的违约事件：
                <ul>
                    <li>
                        乙方在任何实质性方面违反本合同项下的声明与承诺；
                    </li>
                    <li>
                        质物价值减少；
                    </li>
                    <li>
                        乙方违反本合同及主合同的约定。
                    </li>
                </ul>
            </li>
            <li>
                如乙方发生违约事件，甲方有权采取下列一项或几项措施：
                <ul>
                    <li>
                        要求乙方限期纠正；

                    </li>
                    <li>
                        宣布主债务提前到期，按本合同的约定处分质物用于清偿主债务；

                    </li>
                    <li>
                        要求乙方支付主债务本金百分之<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三十&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>的违约金；

                    </li>
                    <li>
                        以其他法律手段追究乙方的违约责任。

                    </li>
                </ul>
            </li>
        </ol>
        <h3>
            第十一条  本合同的独立性
        </h3>
        <p class="text-indent-2em">
            本合同是独立的及无条件的，其有效性不受主合同效力的影响，也不受乙方与任何单位签订的任何协议、文件的影响，也不因乙方的欺诈、重组、停业、解散、清算、破产等各种变化而发生任何改变。即使在甲方同时另有抵、质押担保或保证人的情况下放弃抵押权顺位，放弃、变更或解除其他抵、质押担保，变更、解除保证人保证责任，或乙方另为甲方购买主合同项下保证保险等保障措施的情况下放弃、变更或解除其他保障/担保措施，或甲方选择先行要求乙方以质物承担质押担保责任，乙方依然依本合同规定对甲方承担质押担保责任。
        </p>
        <h3>
            第十二条  通知
        </h3>
        <ol class="oltype1">
            <li>
                本合同项下的任何通知或付款要求等，都将以乙方在平台预留的联系方式发送给乙方。
            </li>
            <li>
                如本合同任何一方的联系方法发生变化，应立即通知对方。
            </li>
            <li>
                任何文件、通讯和通知只要按照上述地址发送，即应视作在下列日期被送达:
                <ul>
                    <li>
                        邮递（包括特快专递、平信邮寄、挂号邮寄），以邮寄之日后的第五个工作日视为送达日；
                    </li>
                    <li>
                        传真或其他电子通讯方式，以发送之日视为送达日；
                    </li>
                    <li>
                        专人送达，以收件人签收之日视为送达日；
                    </li>
                    <li>
                        甲方以在其网站、网上银行、电话银行或营业网点发布公告的方式发送通知的，以公告发布之日视为送达日。
                    </li>
                </ul>
            </li>
            <li>
                甲方在任何情况下均无需对邮递、传真、电话或任何其他通讯系统所出现的任何传送失误、缺漏或延迟承担任何责任。
            </li>
            <li>
                乙方名称、法定代表人、住所等发生变化而未书面通知甲方的，甲方按乙方在投融资平台预留的联系地址及联系方式向乙方发送所有通知或文书，视同送达。
            </li>
        </ol>
        <h3>
            第十三条  管辖、法律适用及争议解决
        </h3>
        <ol class="oltype1">
            <li>
                本合同的订立、效力、解释、履行及争议的解决均适用中华人民共和国法律。
            </li>
            <li>
                本合同履行过程中发生与本合同有关的纠纷或争议，可以通过协商解决；协商不成，双方一致同意将争议提交华南国际经济贸易仲裁委员会，按照申请仲裁时该会现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方均有约束力。
            </li>
            <li>
                在争议期间，本合同不涉及争议部分的条款仍须履行。乙方不得以解决争议为由拒不履行其在本合同项下的任何义务。
            </li>
        </ol>
        <h3>
            第十四条  其他事项
        </h3>
        <ol class="oltype1">
            <li>
                甲方给予乙方的任何宽容、宽限、优惠或延缓行使本合同中享有的权益或权利，均不损害、影响或限制甲方依有关法律、行政法规规定和本合同约定应享有的一切权益和权利，不应视为甲方对本合同项下权利、权益的放弃，也不影响乙方在本合同项下的任何义务。            </li>
            <li>
                本合同不论因何种原因而在法律上成为无效，或部分条款无效，乙方仍应偿还主合同项下一切债务。若发生上述情况，甲方有权将乙方的前述情形告知投资人，并有权根据主合同的约定或投资人的委托行使相关权益救济措施。
            </li>
            <li>
                本合同附件是本合同不可分割的组成部分，与本合同正文具有同等法律效力。
            </li>
            <li>
                本合同中“工作日”均指银行的营业日，合同履行过程中，若某个提款、还款日为非营业日，则顺延至下一个营业日。
            </li>
            <li>
                除本合同另有约定外，主合同的定义与解释均适用于本合同。
            </li>
            <li>
                在本合同有效期内发生的每笔商业承兑汇票质押/保管业务均以甲方及投融资平台保存的业务信息、乙方交付甲方的实物票据信息等业务记录为准。甲方及投融资平台的业务记录是本合同的组成部分，与本合同具有同等法律效力。乙方对甲方及投融资平台业务记录的准确性、真实性及合法性予以确认。
            </li>
            <li>
                甲方接受投资人的委托作为投资人的代理人保管质押的商业承兑汇票，向乙方收取票据托管费（企业客户），金额按全部质押票面金额的<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%</span>计算或一次性收取<span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>元，乙方授权甲方直接从乙方在甲方所开立的账户或通过投融资平台从投资人支付的投资金额（即实际融资金额）中扣收应支付给甲方的相关费用。
            </li>
        </ol>
        <h3>
            第十五条  合同生效
        </h3>
        <p class="text-indent-2em">
            本协议条款已经甲方确认，本协议由乙方采用电子协议形式签订并在平台上保留存档后，由甲方进行打印并加盖公章，各方均认可前述形式签署本协议的法律效力。乙方使用其在平台注册的账户登录后，根据平台的相关规则通过点击确认或类似方式签署的电子协议即视为乙方的真实意愿并以乙方的名义签署的协议，具有法律效力。乙方应妥善保管自己的账户密码等账户信息，不得以账户密码等账户信息被盗用或其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。本协议自文本于平台生成之日起生效（即乙方于线上点击签署本协议之日，且不论甲方是否加盖公章，均视为双方已达成合意），至主合同项下全部债务及其他一切费用全部还清时失效。
        </p>
        <p>
            特别提示：
        </p>
        <p class="text-indent-2em">
            本合同的所有条款乙方已进行了充分的了解，并与甲方进行了充分的协商。甲方已提请乙方特别注意有关免除或限制甲方责任、甲方单方拥有某些权利、增加乙方责任或限制其他当事方权利的条款，并对其作全面、准确的理解。甲方已应乙方的要求对上述条款作出相应的说明。签约各方对本合同条款的理解完全一致。
        </p>
        <p class="text-align-right">甲方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p class="text-align-right">乙方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p class="text-align-right">签订日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</p>
    </div>

    <script>
    </script>
</body>
</html>

