{% extends "_layout/wrapper.html" %}

{% block css %}
<link rel="stylesheet" href="{{static}}/js/webuploader/style.css">
{% endblock %}

{# content内容 #}
{% block content %}
    
    <h3 class="fn-pb-20">
        XXX企业 邀请您完成法定代表人实名验证，请如实填写以下信息，谢谢！
    </h3>
    
	{# 步骤 #}
	{{ Step.foursteps('pass1','基础信息','人脸识别','实名认证','提交结果') }}

    {# 账户信息 #}
	<div class="form-frame fn-mb-10">
		<div class="form-title">
            法定代表人信息
        </div>

        <div class="form-layer1">
            <div class="form-layer2">
                <form autocomplete="off">

                    {# 你的真实姓名 #}
					<div class="form-group">
                        <label class="form-control-label" for="username">
                            <b>*</b>
                            <span>你的真实姓名</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="username" value="XXX">
                        </div>
                    </div>

                    {# 手机号码 #}
					<div class="form-group">
                        <label class="form-control-label" for="mobileNumber">
                            <b>*</b>
                            <span>手机号码</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="mobileNumber" value="123****1234">
                        </div>
                    </div>

                    {# 身份证号码 #}
					<div class="form-group">
                        <label class="form-control-label" for="IDnumber">
                            <b>*</b>
                            <span>身份证号码</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="IDnumber" value="">
                        </div>
                    </div>

                    {# 身份证图片正面 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b>*</b>
                            <span>身份证图片正面</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl1" value="" id="GetUrl1" class="from-control upload-path">
                                <!--<button type="button" class="btn small-btn secondary j-upload-btn" id="btnUploader">点击上传</button>-->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName1" value="">
                                <input type="hidden" name="Key1" value="">
                                <input type="hidden" name="uploadNam1" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="{{static}}/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="{{static}}/images/idcard.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    {# 身份证图片反面 #}
                    <div class="form-group">
                        <label class="form-control-label">
                            <b>*</b>
                            <span>身份证图片反面</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <div class="form-control-data form-control-check">
                                <span class="upload-name"></span>
                                <input type="hidden" name="GetUrl2" value="" id="GetUrl2" class="from-control upload-path">
                                <!--<button class="btn small-btn secondary j-upload-btn">点击上传</button>-->
                                <div class="upload-box upload-img">
                                </div>
                                <input type="hidden" name="FileName2" value="">
                                <input type="hidden" name="Key2" value="">
                                <input type="hidden" name="uploadNam2" class="uploadName">
                            </div>
                            <div class="alert alert-warning upload-img-alert">
                                <i></i>
                                <div class="alert-body">
                                    <h5>您上传的图片不符合以下标准，请重新上传。</h5>
                                    <ul>
                                        <li>图片确保清晰、完整，并且图片的文字为正方向。</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="upload-img-wrap">
                                <div class="upload-img-box">
                                    <img src="{{static}}/images/black10.png" class="upload-img-yours" alt="">
                                    <p>您的图片</p>
                                </div>
                                <div class="upload-img-box">
                                    <img src="{{static}}/images/idcard2.jpg" alt="">
                                    <p>正确示例图</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">
                            <span>证件要求</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-data fn-pb-20" style="height:auto;">
                            <ul class="with-lt">
                                <li>上传的身份证图片需调整为<span class="warning-FontColor">横向且保证文字方向为正向</span>，</li>
                                <li>必须为清晰彩色原件扫描件或数码照，图片大小不超过 <span class="warning-FontColor">2M</span>，
                                    <br />
                                    支持jpg，jpeg，bmp格式文件。</li>
                                <li>如果提交的证件错误，您的申请将不通过。</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-control-wrap text-align-left">
                            <a href="核身-法人异步核身-STEP2人脸识别.html" class="btn primary" role="button">确认无误，下一步</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

	</div>


{% endblock %}
  
{% block jsPage %}
<script src="{{static}}/js/webuploader/webuploader.js"></script>
<!--<script src="{{static}}/js/webuploader/fileUpload.js"></script>-->
<script src="{{static}}/js/webuploader/uploader.js"></script>
<script>
    /**
     * uploadSuccess 上传成功后回调
     * @return {[type]} [description]
     */
    function uploadSuccess(el, file, data) {
        /*var names = data.name.split('.');
        var name = names[0].length > 13 ? names[0].substring(0, 13) + "..." : names[0];
        $(el).siblings(".uploadName").val(data.name);
        $(el).siblings(".upload-name").text(name + "." + names[1]);
        $(el).siblings(".upload-path").val(data.path);
        $(el).siblings(".upload-size").val(data.size);*/
        // todo: test
        $(el).siblings(".upload-name").html(file.name);

    }

	$(function() {
		/*$('.j-upload-btn').fileUpload({
            swf: '{{static}}/js/webuploader/Uploader.swf',
            sendurl: 'http://localhost/fileupload.php',
            //fileVal: 'FileData',
            success: uploadSuccess
        });*/
        //初始化上传控件
        $(".upload-img").InitUploader({ sendurl: "http://192.168.7.129/fileupload.php", swf: "{{ static }}/js/webuploader/uploader.swf" });
	});
</script>
{% endblock %}


