{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="mod-agreement">
    <div class="ui-tit">
        <h2 class="text-align-left">为了给你提供更好的服务，请先完成实名认证
            <br />
            <br />
            准备资料如下：
        </h2>
    </div>

    <div class="ui-content">
        <h3>个人实名认证前需要准备：<span class="fs-16">影印件必须为彩色原件的扫描件或数码照</span></h3>
        <div class="content">
            <ul class="with-lt h5" style="list-style: disc;">
                <li>
                    个人身份证影印件正反面（上传的身份证图片需调整为横向且保证文字方向为正向。因为部分手机拍照上传识别的证件图片，多为旋转90度或者180度的，会导致无法识别。）
                </li>
                <li>
                    个人银行卡信息
                </li>
                <li>
                    个人征信查询授权书影印件（下载&nbsp;<a href="#" class="link-standard">个人征信查询授权书</a>，打印填写并签名。）
                </li>
            </ul>
        </div>

        <div class="text-align-center fn-mt-40">
            <a href="核身-个人未开通为核身E+账户-完善个人信息.html" class="btn primary">开始认证</a>
        </div>

    </div>
</div>

{% endblock %}