{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}
    
    <h3 class="fn-pb-20">
        请完成以下资料填写，以便为您开通融资服务。
    </h3>
    
	{# 步骤 #}
	{{ Step.foursteps('pass3','完善企业信息','身份验证','企业安全认证','提交结果') }}

    {# 基本信息 #}
	<div class="form-frame fn-mb-10">
        <div class="form-title">
			安全设置
		</div>

        <div class="alert alert-warning fn-ml-10 fn-mb-20">
            <i></i>
            <em></em>
            安全证书及交易密码用于对融资申请、修改账号信息等操作，交易密码请不要与登录密码一致。
        </div>

        <div class="form-layer1">          
            <div class="form-layer2">
                <form autocomplete="off">

                    {# 设置交易密码 #}
					<div class="form-group">
                        <label class="form-control-label" for="password">
                            <b>*</b>
                            <span>设置交易密码</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="password" class="form-control" id="password" value="" placeholder="8-20个英文字母，数字或符号的组合">
                        </div>
                    </div>

                    {# 确认交易密码 #}
					<div class="form-group">
                        <label class="form-control-label" for="passwordConfirm">
                            <b>*</b>
                            <span>确认交易密码</span>
                            <em>：</em>
                        </label>
                        <div class="form-control-wrap">
                            <input type="password" class="form-control" id="passwordConfirm" value="" placeholder="8-20个英文字母，数字或符号的组合">
                        </div>
                    </div>
                    {# 证书托管协议 #}
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <div class="form-control-check">
                                <label class="agreement-check">
                                    我已阅读并同意《<a href="###" class="link-standard">证书托管协议</a>》
                                    <input type="checkbox" name="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <a href="###" class="btn primary" id="j-sign-btn" data-toggle="modal">确认申请安全证书</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

	</div>


<!-- 申请证书失败 -->
<div class="modal-background fade display-none" id="msg-tip" role="dialog">
    <div class="modal-layer">
        <div class="modal-position">
            <div class="modal-wrap">
                <div class="modal-head">
                    提示
                    <button class="modal-close" title="关闭">
                        <i></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="notice-wrap error fn-pa-0" style="border: none;">
                        <div class="notice-box">
                            <span class="notice-img"></span>
                            <h3 class="fn-mt-15">
                                请及时联系客服：400-106-669
                            </h3>
                            <p>请及时联系客服：400-106-6698</p>
                            <div class="fn-mt-50">
                                <button type="button" class="layer-btn btn primary" data-fn="ok">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsPage %}
<script>



    // 签章
    // TODO: 测试代码
    function ajaxSign() {
        setTimeout(function() {
            $('#modal-waiting').hideLoading();

            // 提示结果
            $('#msg-tip').modal('show')
        }, 3e3)
    }

    $(function() {

        // 同意并签署
        $('#j-sign-btn').on('click', function() {
            $('#modal-waiting').showLoading('系统正在申请证书及签章', '请勿关闭当前页面');

            // TODO: ajax 后台提交
            ajaxSign();
        })
    })
</script>
{% endblock %}


