{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

<div class="mod-agreement">
    <div class="ui-tit">
        <h2 class="text-align-left">为了给你提供更好的服务，请先完成实名认证
            <br />
            <br />
            准备资料如下：
        </h2>
    </div>

    <div class="ui-content">
        <h3>1，企业实名认证前需要准备：（影印件必须为彩色原件的扫描件或数码照）</h3>
        <div class="content">
            <ul class="with-lt h5" style="list-style: disc;">
                <li>
                    营业执照及相关文件影印件
                </li>
                <li>
                    企业章程影印件
                </li>
                <li>
                    企业征信查询结果书（可进入网上&nbsp;<a href="#" class="link-standard">中国人民银行征信中心</a>&nbsp;查询企业信用报告。查看&nbsp;<a href="#" class="link-standard">企业信用报告样本</a>。）
                </li>
                <li>
                    企业征信查询授权书影印件（下载&nbsp;<a href="#" class="link-standard">企业征信查询授权书</a>，打印填写并签盖公司公章，不能是合同/业务专用章。）
                </li>
                <li>
                    企业对公银行账户（可以是基本户或一般户）
                </li>
                <li>
                    法定代表人身份证影印件正反面（上传的身份证图片需调整为横向且保证文字方向为正向。因为部分手机拍照上传识别的证件图片，多为旋转90度或者180度的，会导致无法识别。）
                </li>
                <li>
                    法定代表人的个人银行卡信息（仅用于实名验证，我们不会保存您任何银行卡信息）
                </li>
                <li>
                    法定代表人征信查询授权书影印件（下载&nbsp;<a href="#" class="link-standard">个人征信查询授权书</a>，打印填写并签名。）
                </li>
                <li>
                    你的企业经办人授权委托书影印件（下载&nbsp;<a href="###" class="link-standard">企业经办人授权委托书</a>，打印填写并签盖公司公章，不能是合同/业务专用章。）<br>
                </li>
                <p>
                    <strong>注意： 企业经办人授权委托书中的委托人真实姓名，身份证号、手机号，必须和您填写的信息一致。</strong>
                </p>
            </ul>
        </div>
        <br />
        <h3>2，如果你是代理人，除以上资料，还需准备</h3>
        <div class="content">
            <ul class="with-lt h5" style="list-style: disc;">
                <li>
                    你的身份证影印件正反面（上传的身份证图片需调整为横向且保证文字方向为正向。因为部分手机拍照上传识别的证件图片，多为旋转90度或者180度的，会导致无法识别。）
                </li>
                <li>
                    你的个人银行卡信息
                </li>
            </ul>
        </div>
        <div class="text-align-center fn-mt-40">
            <a href="核身-个人未开通为核身E+账户-完善个人信息.html" class="btn primary">开始认证</a>
        </div>

    </div>
</div>

{% endblock %}