{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

    {# 菜单导航 #}
    {{ navigator.current('nav3') }}

    <!-- tab -->
    <div class="tabs-wrap type1 fn-mb-10">
      <ul class="tabs">
        <li>
          <a href="融资产品-收融易-融资记录.html" class="tabs-btn tab-disabled">融资记录</a>
        </li>
        <li class="active">
          <a href="融资产品-收融易-标的物管理.html" class="tabs-btn tab-disabled">标的物管理</a>
        </li>
      </ul>
    </div>


    <h5 class="fn-pt-10 fn-mb-15">标的物信息</h5>
    <table class="table border-bottom inverse fn-mb-20 table-view">
        <tbody>
        <tr>
            <th>标的物编号</th>
            <td>12345565765</td>
            <th>审核状态</th>
            <td>融资中</td>
        </tr>
        <tr>
            <th>应收账编号</th>
            <td>64687854</td>
            <th>交易合同编号</th>
            <td>584764577</td>
        </tr>
        <tr>
            <th>应收账金额</th>
            <td>4017,000,000.00 元</td>
            <th>质押率</th>
            <td>8%</td>
        </tr>
        <tr>
            <th>应收账债务人</th>
            <td>阿里巴巴</td>
            <th>应收账生成日</th>
            <td>2015-07-30</td>
        </tr>
        <tr>
            <th>应收账到期日</th>
            <td>2016-03-30</td>
            <th>应收账期限</th>
            <td>180 天</td>
        </tr>
        <tr>
            <th>收款人账户名称</th>
            <td colspan="3">张三</td>
        </tr>
        <tr>
            <th>收款人银行账号</th>
            <td colspan="3">
                招商银行
                &nbsp;|&nbsp;
                6220 0000 0000 0000
            </td>
        </tr>
        <tr>
            <th>所属省市</th>
            <td colspan="3">广东省广州市</td>
        </tr>
        <tr>
            <th>分支行</th>
            <td colspan="3">体育西路支行</td>
        </tr>
        <tr>
            <th>付款人账户名称</th>
            <td colspan="3">李四</td>
        </tr>
        <tr>
            <th>付款人银行账号</th>
            <td colspan="3">
                招商银行
                &nbsp;|&nbsp;
                6220 0000 0000 0000
            </td>
        </tr>
        <tr>
            <th>附件</th>
            <td colspan="3"><a href="###" class="link-standard">查看附件</a></td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="3"></td>
        </tr>
        </tbody>
    </table>
    <!-- 如没有融资，不出现此块内容 -->
    <h5 class="fn-pt-10 fn-mb-15">融资信息</h5>
    <table class="table border-bottom inverse fn-mb-20">
        <thead>
        <tr>
            <th>融资订单号</th>
            <th>融资申请金额（元）</th>
            <th>融资状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>BDW12512390097870</td>
            <td>800,000.00</td>
            <td>处理中</td>
            <td><a href="###" class="link-standard">详情</a></td>
        </tr>
        </tbody>
    </table>

    <div class="text-align-center fn-mt-40">
        <a href="融资产品-收融易-标的物管理.html" class="btn primary">返回</a>
        <!-- 如标的物审核不通过，显示编辑按钮-->
        <!--<a href="融资产品-收融易-标的物管理-标的物新增（编辑）.html" class="btn primary">编辑</a>-->
    </div>


{% endblock %}


