{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

    {# 菜单导航 #}
    {{ navigator.current('nav3') }}

    <!-- tab -->
    <div class="tabs-wrap type1 fn-mb-10">
      <ul class="tabs">
        <li  class="active">
          <a href="融资产品-订单融资-融资记录.html" class="tabs-btn tab-disabled">融资记录</a>
        </li>
        <li>
          <a href="融资产品-订单融资-标的物管理.html" class="tabs-btn tab-disabled">标的物管理</a>
        </li>
      </ul>
    </div>

    <h5 class="fn-pt-10 fn-mb-15 title-wrap">
        融资信息
        <a href="###" class="btn primary small-btn">打印融资凭证</a>
    </h5>
    <table class="table border-bottom inverse fn-mb-20 table-view">
    <tbody>
    <tr>
        <th>融资订单号</th>
        <td>2JZT23480780997793</td>
        <th>状态</th>
        <td>已放款</td>
    </tr>
    <tr>
        <th>融资合同编号</th>
        <td>201512241111202398</td>
        <th>申请时间</th>
        <td>2015-10-29 16:22:00</td>
    </tr>
    <tr>
        <th>融资申请金额</th>
        <td>1,000,000.00 元</td>
        <th>融资本金</th>
        <td>800.00 元</td>
    </tr>
    <tr>
        <th>融资利率（年化）</th>
        <td>5.00%</td>
        <th>融资成本率（年化）</th>
        <td>4.70%</td>
    </tr>
    <tr>
        <th>融资成本</th>
        <td>40,000.00 元</td>
        <th>融资到账金额</th>
        <td>760,000.00 元</td>
    </tr>
    <tr>
        <th>融资起息日</th>
        <td>2016-10-11</td>
        <th>融资到期日</th>
        <td>2016-11-11</td>
    </tr>
    <tr>
        <th>融资期限</th>
        <td>30天</td>
        <th>还款方式</th>
        <td>固定期限一次还本付息</td>
    </tr>
    <tr>
        <th>合同协议</th>
        <td colspan="3"><a href="####" class="link-standard">20160106质押协议.pdf</a>，<a href="####" class="link-standard">20160106融资协议.pdf</a></td>
    </tr>
    <tr>
        <th>备注 </th>
        <td colspan="3">
        </td>
    </tr>
    </tbody>
</table>

<h5 class="fn-pt-10 fn-mb-15">融资款定向收款账户</h5>
<table class="table border-bottom inverse fn-mb-20 table-view">
    <colgroup>
        <col style="width: 150px">
    </colgroup>
    <tbody>
    <tr>
        <th>收款账户名称</th>
        <td>哎呦喂淘气股份有限公司</td>
    </tr>
    <tr>
        <th>收款银行账号</th>
        <td>招商银行  | 6222 0000 0000 0000</td>
    </tr>
    </tbody>
</table>

    <h5 class="fn-pt-10 fn-mb-15">还款计划</h5>
    <table class="table border-bottom inverse fn-mb-20">
        <thead>
        <tr>
            <th>还款日期</th>
            <th>应还金额（元）</th>
            <th>实际还款金额（元）</th>
            <th>状态</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2015-11-11</td>
            <td>100.00</td>
            <td>200.00</td>
            <td>未还款</td>
            <td>分行托收</td>
        </tr>
        </tbody>
    </table>

    <h5 class="fn-pt-10 fn-mb-15">标的物信息</h5>
    <table class="table border-bottom inverse fn-mb-20">
        <thead>
        <tr>
            <th>标的物编号</th>
            <th>质押率</th>
            <th>质押状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>42349702983989237049</td>
            <td>80%</td>
            <td>质押成功</td>
            <td><a href="###" class="link-standard">详情</a></td>
        </tr>
        </tbody>
    </table>

    <div class="text-align-center fn-mt-40">
        <a href="融资产品-订单融资-融资记录.html" class="btn primary">返回</a>
    </div>


{% endblock %}


