{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}

    {# 菜单导航 #}
    {{ navigator.current('nav4') }}

    <!-- tab -->
    <div class="tabs-wrap type1 fn-mb-10">
      <ul class="tabs">
        <li class="active">
          <a href="javascript:;void(0)" class="tabs-btn tab-disabled">融资记录</a>
        </li>
          <li>
                <a href="融资产品-保费-车险记录.html" class="tabs-btn tab-disabled">车险记录</a>
            </li>
        <li >
          <a href="融资产品-保费-融资申请-支付保证金.html" class="tabs-btn tab-disabled">融资申请</a>
        </li>
          <li>
              <a href="融资产品-保费-还款计划.html" class="tabs-btn tab-disabled">还款计划</a>
          </li>
          <li>
              <a href="融资产品-保费-还款记录.html" class="tabs-btn tab-disabled">还款记录</a>
          </li>
      </ul>
    </div>

    <h5 class="fn-pt-10 fn-mb-15 title-wrap">融资信息
        <a href="###" class="btn primary small-btn">打印融资凭证</a>
    </h5>
    <table class="table border-bottom inverse fn-mb-20 table-view">
        <tbody>
            <tr>
                <th>融资订单号</th>
                <td>2JZT23480780997793</td>
                <th>状态</th>
                <td>已放款</td>
            </tr>
            <tr>
                <th>融资合同编号</th>
                <td>201512241111202398</td>
                <th>申请时间</th>
                <td>2015-10-29 16:22:00</td>
            </tr>
            <tr>
                <th>融资申请金额</th>
                <td>1000,000.00&nbsp;元</td>
                <th>融资本金</th>
                <td>1000,000.00&nbsp;元</td>
            </tr>
            <tr>
                <th>融资利率（年化）</th>
                <td >5.00%</td>
                <th>融资成本率（年化）</th>
                <td>4.70%</td>
            </tr>
            <tr>
                <th>
                    融资起息日
                </th>
                <td>
                    2015-09-08
                </td>
                <th>
                    融资到期日
                </th>
                <td>
                    2015-09-08
                </td>
            </tr>
            <tr>
                <th>
                    融资期限
                </th>
                <td>
                    12个月
                </td>
                <th>
                    还款方式
                </th>
                <td>
                    分期还款，等额本息
                </td>
            </tr>
            <tr>
                <th>
                    融资合同
                </th>
                <td colspan="3">
                    <a href="###" class="link-standard">20160106融资协议.pdf</a>
                </td>
            </tr>
            <tr>
                <th>
                    备注
                </th>
                <td colspan="3">
                    
                </td>
            </tr>
        </tbody>
    </table>


    <h5 class="fn-pt-10 fn-mb-15">融资款定向收款账户
    </h5>
    <table class="table border-bottom inverse fn-mb-20 table-view">
        <tbody>
        <tr>
            <th>收款账户名</th>
            <td colspan="3">哎呦喂淘气股份有限公司</td>
        </tr>
            <tr>
            <th>收款账户账号</th>
            <td colspan="3">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;6222 0000 0000 0000</td>
        </tr>
        </tbody>
    </table>

    <h5 class="fn-pt-10 fn-mb-15">还款计划
        <span class="fn-ml-15 warning-FontColor fs-12">可因节假日调整，具体以实际还款计划为准。</span>
    </h5>
    <table class="table border-bottom inverse fn-mb-20">
        <thead>
            <tr>
                <th>还款日期</th>
                <th>应还金额（元）</th>
                <th>状态</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2015-03-15</td>
                <td>2850.88&nbsp;<i class="icon-info h4" data-toggle="tooltips" title="本金：2818.94元；融资成本：31.94元（含融资利息：19.97元）"></i></td>
                <td>已还款</td>
                <td>主动还款</td>
            </tr>
            <tr>
                <td>2015-03-15</td>
                <td>2850.88&nbsp;<i class="icon-info h4" data-toggle="tooltips" title="本金：2818.94元；融资成本：31.94元（含融资利息：19.97元）"></i></td>
                <td>逾期</td>
                <td></td>
            </tr>
            <tr>
                <td>2015-03-15</td>
                <td>2850.88&nbsp;<i class="icon-info h4" data-toggle="tooltips" title="本金：2818.94元；融资成本：31.94元（含融资利息：19.97元）"></i></td>
                <td>未还款</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h5 class="fn-pt-10 fn-mb-15">车险保费信息</h5>
    <table class="table border-bottom inverse fn-mb-20 table-view">
        <tbody>
            <tr>
                <th>审核状态</th>
                <td>融资中</td>
                <th>投保编号</th>
                <td>123456789</td>
            </tr>
            <tr>
                <th>商业车险保费</th>
                <td>100,000.00</td>
                <th>保证金费率</th>
                <td>30%</td>
            </tr>
            <tr>
                <th>保证金</th>
                <td>100,000.00</td>
                <th>履约险编号</th>
                <td>23529705293840983</td>
            </tr>
            <tr>
                <th>履约险投保费率（年化）</th>
                <td>2.00%</td>
                <th>履约险金额</th>
                <td>50,000.00 元</td>
            </tr>
            <tr>
                <th>附件</th>
                <td colspan="3"><a href="###" class="link-standard">点击查看</a></td>
            </tr>
        </tbody>
    </table>

    <div class="text-align-center fn-mt-40">
        <a href="融资产品-保费-融资记录.html" class="btn primary">返回</a>
    </div>
{% endblock %}


