<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            font-family: 'Microsoft YaHei',sans-serif;
            color: #333;
        }
        .wrap {
            width: 680px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
        }

        h1,h2,h3,h4,h4,h6 {
            font-weight: 500;
        }

        h1 {
            text-align: center;
        }
        .text-align-center {
            text-align: center;
        }
        .text-align-right {
            text-align: right;
        }
        .text-indent-2em {
             text-indent: 2em;
        }
        p {
            font-size: 14px;
        }
        /*.spaceborderbottom {
            border-bottom:1px solid #ddd;
            width: 180px;
            display: inline-block;
        }*/
        table {
            font-size: 14px;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
        table th,
        table td {
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: 500;
        }
        table th {
            text-align: center;
            line-height: normal;
        }
    </style>
</head>

<body>
    <div class="wrap" >
        <h2 style="text-align:center;">
            退保及理赔、保单挂失补领不可撤销授权委托书
        </h2>
        <table>
            <colgroup>
                <col style="width:70px"/>
                <col style="width:110px"/>
                <col style="width: 30px" />
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
                <col style="width: 30px"/>
            </colgroup>
            <tbody style="font-size: 12px;">
                <tr>
                    <td colspan="18" style="background-color: #f4f4f4; font-size: 12px;">
                        委托人为保险合同的被保险人若委托人超过三人或委托事项不一致，请另行填写《退保及理赔授权委托书》。 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        被保险人名称
                    </td>
                    <td colspan="16">

                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="5">
                        委托人
                    </td>
                    <td colspan="8">
                        与被保险人关系
                    </td>
                    <td colspan="9">
                        本企业 
                    </td>
                </tr>
                 <tr>
                    <td colspan="1">
                        法人代表
                    </td>
                     <td colspan="7">

                     </td>
                    <td colspan="3">
                        企业联系电话 
                    </td>
                     <td colspan="6">
                         
                    </td>
                </tr>
                <tr>
                    <td colspan="17">
                        联系地址
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        营业执照名称
                    </td>
                    <td colspan="16">

                    </td>

                </tr>
                <tr>
                    <td>营业执照号码</td>
                    <td colspan="16"></td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="6">
                        受托人
                    </td>
                    <td colspan="1">
                        机构名称
                    </td>
                    <td colspan="16">
                        广东钱途互联商务服务有限公司 
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        与委托人关系
                    </td>
                    <td colspan="9">
                        客户服务关系
                    </td>
                </tr>
                <tr>
                    <td>
                        营业执照名称
                    </td>
                    <td colspan="16"></td>
                </tr>
                <tr>
                    <td>
                        营业执照号码
                    </td>
                    <td colspan="16"></td>
                </tr>
                <tr>
                    <td colspan="1">
                        联系电话
                    </td>
                    <td colspan="7">
                        0755-83476005 
                    </td>
                    <td colspan="3">
                        法人代表
                    </td>
                    <td colspan="6">
                        冯巍
                    </td>
                </tr>
                <tr>
                    <td>联系地址</td>
                    <td colspan="16">广州市天河区体育西路 103 号之一 2003 房 </td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="1">
                        委托事项
                    </td>
                    <td colspan="17">
                        委托声明:  <br />
                        1.委托人同意并授权安邦财产保险股份有限公司及其授权的机构和个人以委托人名义向公安部门、保险公司、其他组织机构及个人索取、 查询、调阅、摘抄、复印/制所有理赔相关材料，本授权书之影印件、传真件、扫描件和原件具有同等效力，委托人愿承担由此产生的一切 法律后果。 <br />
                        2.委托人承诺提供本人车险分期宝“E+账户”并将相应信息填入本《退保及理赔授权委托书》。 <br />
                        3.委托人承诺委托受托人保存投保单（投保单号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;）产生的保险单正本用于理赔及退保相关事宜。 <br />
                        4.委托人承诺委托受托人代为签署逾期违约及出险理赔后的《退保申请书》（样式见附件 1）、《机动车辆保险出险通知书》（样式见附件 2）、 《机动车辆保险索赔须知》（样式见附件 3）、《机动车辆索赔申请书》（样式见附件 4）、出险理赔的《支付赔款授权委托书》（样式见附件 5）。 <br />
                        5.委托人承诺受托人就投保单（投保单号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;）产生的保险合同办理委托事项，凡由本委托书引发的任何法律问题及经济纠 纷由委托人承担。 <br />
                        6.委托人承诺同意将退保的保费支付到委托受托人在 招商银行 银行开立的银行账户中，具体银行账户信息为如下：   账户名：广东钱途互联商务服务有限公司 账号：                     开户行：             <br />
                        7.委托人承诺同意理赔所得理赔金优先用于偿还在车险分期宝“E+账户”的剩余债务本息。 <br />
                        8.委托人承诺自愿放弃自行退保、保单挂失的权利，全权委托受托人进行资料保管、退保、理赔、保单挂失补领等事宜，基于此法律文件， 保险公司有权拒绝委托人自行发起的退保、挂失补领申请，委托人对此无异议。 <br />
                        9.委托人承诺同意认可受托人以微信、短信、邮件、快递等方式将退保通知书送达，受托人只要完成上述方式或其中之一方式，即视为委 托人已经收到退保通知结果。 <br />
                        10.委托人承诺在收到退保通知后，第一时间告知行驶证上的车辆所有人，如因未告知导致车辆出现事故造成的责任，由委托人自行承担， 与保险公司和受托人无关。
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">
                        委托事项 
                    </td>
                    <td colspan="16">
                        √退保申请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;√办理理赔申请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;√签订理赔协议&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;√受理各类理赔通知（请按授权范围勾选，填写后如有空 余请划掉）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;√ 受理保单挂失补领 
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        有效期间
                    </td>
                    <td colspan="13">
                        保单生效之日起至借款人（亦即投保人）的借款协议（协议号 XXXXX）对应的全部还款义务履行 完毕之日止 
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        签名日期
                    </td>
                    <td colspan="17">
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;委托人： ______________________________<br /><br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;委托人： ______________________________
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="text-align-right">日    期：20_________年_________月_________日 </div>

                        <br />
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
    </script>
</body>
</html>

