{% extends "_layout/wrapper.html" %}
{# content内容 #}
{% block content %}


<h1 class="text-align-center fn-mb-40">项目说明书</h1>
<table class="table border-bottom table-nobg fn-mb-40 table-view">
    <tr>
        <th>项目名称</th>
        <td colspan="3">E+供应链项目【Z14363464941324164616346546313465】</td>
    </tr>
    <tr>
        <th>融资项目编号</th>
        <td colspan="3">Z241574515485784845110</td>
    </tr>
    <tr>
        <th>币种</th>
        <td colspan="3">人民币</td>
    </tr>
    <tr>
        <th>项目发起规模/融资金额</th>
        <td colspan="3">100.00 元</td>
    </tr>

</table>


<h4 class=" fn-mb-10">项目信息</h4>
<table class="table border-bottom table-nobg fn-mb-40 table-view">
    <tr>
        <th>起息日</th>
        <td colspan="3">2016年01月06日为项目起息日，本项目自起息日起计算利息/收益</td>
    </tr>
    <tr>
        <th>到期日</th>
        <td>2016年09月20日</td>
        <th>结算日</th>
        <td>2016年09月21日</td>
    </tr>
    <tr>
        <th>融资期限</th>
        <td>259天</td>
        <th>项目期限</th>
        <td>259天</td>
    </tr>
    <tr>
        <th>资金结算期间（天数）</th>
        <td>0 天</td>
        <th>融资利率/投资人 <br>预算收益率（年化）</th>
        <td>4.35 %</td>
    </tr>
    <tr>
        <th>还款方式</th>
        <td colspan="3">
            取值： <br>
            1、若为订单融资取值：分期还款/固定期限，到期还本付息/开放日还款 <br>
            2、若为应收账款活商票融资取值：固定期限，到期还款付息
        </td>
    </tr>
</table>

<h4 class=" fn-mb-10">其他说明</h4>
<table class="table border-bottom table-nobg fn-mb-40 table-view">
    <tr>
        <th>资金到账规则</th>
        <td colspan="3">按《投融资平台服务协议（融资人版）》及《投融资平台服务协议（投资人版）》的相关约定执行，实际到账以第三方支付机构清算时间为准。</td>
    </tr>
    <tr>
        <th>本项目见证机构</th>
        <td colspan="3">招商银行股份有限公司</td>
    </tr>
    <tr>
        <th>平台运营商</th>
        <td colspan="3">广东网金控股股份有限公司</td>
    </tr>
    <tr>
        <th>第三方支付机构</th>
        <td colspan="3">本项目委托中金支付有限公司作为第三方支付机构提供清算服务。</td>
    </tr>
    <tr>
        <th>项目不成立</th>
        <td colspan="3">按《投融资平台服务协议（融资人版）》的相关约定执行。</td>
    </tr>
    <tr>
        <th>保障措施</th>
        <td colspan="3">取值： <br>
            1、若为应收账款：应收账款质押担保 <br>
            2、若为商票融资：远期兑付凭证质押担保 <br>
            3、若为订单融资：第三方保证担保/债权远期受让/差额补足</td>
    </tr>
</table>
<div class="text-align-center">
    <a href="###" class="btn primary">返回</a>
</div>
{% endblock %}