{% macro theNav(title='xxxxxx') %}
<nav class="the-main-nav-wrap">
  <div class="the-main-nav-box">
    <a href="首页.html" class="logo-wrap">
      {{ title }}
    </a>
    <div class="login-box ">
      <a href="javascript:;void(0)" title="当前登录用户：Jim">您好，广东益达有限公司</a>
      <a href="javascript:;void(0)" title="退出">退出</a>
    </div>
    <!--<ul class="the-main-nav">
      <li>
        <a href="首页.html">首页</a>
      </li>
      <li>
        <span>信用支付管理</span>
        <ul>
          <li>
            <a href="javascript:;void(0)">
              授信查询
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              消费查询
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              回款账单查询
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              贷款结算管理
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              服务费管理
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              现金退款管理
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              用户信用查询
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              黑名单管理
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span>信用惠管理</span>
        <ul>
          <li>
            <a href="javascript:;void(0)">
              渠道列表
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              商户列表
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              商户订单管理
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
             退款订单管理
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span>用户管理</span>
        <ul>
          <li>
            <a href="javascript:;void(0)">
              用户列表
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              黑名单列表
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span>渠道管理</span>
        <ul>
          <li>
            <a href="渠道管理-渠道列表.html">
              渠道列表
            </a>
          </li>
          <li>
            <a href="渠道管理-添加渠道.html">
              添加渠道
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span>系统管理</span>
        <ul>
          <li>
            <a href="javascript:;void(0)">
              账户管理
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              角色权限
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              平台收支列表
            </a>
          </li>
          <li>
            <a href="javascript:;void(0)">
              平台账户
            </a>
          </li>
        </ul>
      </li>
    </ul>-->
  </div>
</nav>
{% endmacro %}
