<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            font-family: 'Microsoft YaHei',sans-serif;
            color: #333;
            font-size: 14px;
        }
        body * {
            text-align: justify;
        }
        .wrap {
            width: 680px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
        }

        h1,h2,h3,h4,h4,h6 {
            font-weight: 500;
        }

        h1 {
            text-align: center;
        }
        p{
            line-height: 22px;
        }
        .text-align-center {
            text-align: center;
        }
        .text-align-right {
            text-align: right;
        }
        .text-indent-2em {
            text-indent: 2em;
        }
        .oltype1 > li {
            padding-bottom: 1.8em;
        }

         .oltype1 > li > p {
            padding: 0;
            margin: 0;
        }

        .oltype1 > li > ul {
            list-style-type: decimal-leading-zero;
            padding-top: 1em;
        }
        .oltype1 > li > ul > li {
            padding-bottom: 1em;
        }
        table {
            font-size: 14px;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
        table th,
        table td {
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: 500;
        }
        table th {
            text-align: center;
            line-height: normal;
        }
        .underline {
            text-decoration: underline;
        }
        .word-break{
            word-wrap: break-word;
            word-break: normal;
        }
        .height h3{
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class="wrap">

        <p style="text-align: center;">
            <span style="font-size: 20px;"><strong>用户服务协议</strong></span>
        </p>
        <p style="text-align: right;">
             版本号:2016年V3 &nbsp; &nbsp;
        </p>
        <p>
            <span style="font-size: 18px;"><strong>协议须知</strong></span>
        </p>
        <p>
            <strong>&nbsp; &nbsp;1.在您使用广东钱途互联商务服务有限公司所提供的“互联网交易过程电子登记系统”（以下称“本系统”）服务前，请您认真阅读、充分理解本协议各条款内容并选择接受或不接受本协议。本协议由您（以下称“甲方”）和广东钱途互联商务服务有限公司（以下称“乙方”）共同签署。当甲方按照提示填写信息、阅读并同意本协议且完成全部注册程序或使用本系统所提供的服务后，即表示甲方已充分阅读、理解并同意完全接受本协议的全部内容。除非甲方融资人接受本协议所有条款，否则甲方无权使用本系统提供的服务。如甲方对协议有任何疑问的，应向客服咨询。</strong>
        </p>
        <p>
            <strong>&nbsp; &nbsp;2.本系统面向中华人民共和国境内合资格的自然人、企业或组织提供的服务。作为本系统的用户，甲方必须为具有完全民事权利能力及民事行为能力的中国大陆公民，或符合本系统及乙方合作机构规定的企业或组织。否则，甲方应立即停止在本系统的注册和本系统服务使用，乙方亦有权随时终止甲方的注册进程及服务使用。</strong>
        </p>
        <br/>
        <p>
            <span style="font-size: 18px;"><strong>一、&nbsp;注册登录</strong></span>
        </p>
        <p>
            &nbsp; 1.在注册和使用本系统服务期间，甲方应根据相应界面的提示及要求如实提供其真实资料和信息，其中：
        </p>
        <p>
            &nbsp; （1）如甲方为自然人的，需提供其个人身份信息，包括姓名、身份证号、手机号码、电子邮件地址、联系地址、邮政编码、银行卡信息等、融资需求及融资款项用途等，并上传其身份证扫描件（双面）与个人征信查询授权书。
        </p>
        <p>
            &nbsp; （2）如甲方为企业或其他组织，则需提供的基本身份信息包括企业名称、企业类型、住所及联系地址、邮政编码、银行账户信息、手机号码、电子邮件地址、人员数量、法定代表人基本信息、经办人基本信息、融资需求及融资款项用途等，并上传加盖企业公章的《企业信用信息查询授权书》、加盖企业公章的《法定代表人身份证明》以及加盖企业公章并经法定代表人签名的《承诺函及授权委托书》。
        </p>
        <p>
            &nbsp; （3）如甲方为自然人的，应通过个人快捷支付，及本协议第三条第（二）款约定的人脸识别服务完成身份验证；如甲方为企业或其他组织的，应通过其企业自身的对公账户于线上或线下进行支付，并要求其企业法定代表人及企业所指定的经办人通过前述个人快捷支付及人脸识别的方式完成身份验证。甲方确认前述支付操作合法有效。
        </p>
        <p>
            &nbsp; （4）甲方应保证，自甲方注册时起至甲方使用本系统服务的所有期间内，其提交的所有资料和信息均为真实、准确、完整，及时的，并于资料信息变更时及时更新。甲方确认并同意，乙方及乙方的合作机构（包括甲方的推荐人或第三方平台投资人的代理人）有权对甲方基本信息及甲方提供的保障措施等进行审核与确认。如乙方有合理理由怀疑甲方提供的资料错误、不实、过时或不完整的，有权向甲方发出询问及/或要求改正的通知，或有权直接做出删除相应资料的处理，直至中止、终止对甲方提供部分或全部服务，甲方应自行承担因此产生的任何直接或间接损失及不利后果。
        </p>
        <p>
            &nbsp; 2.甲方须自行负责对其账号和密码保密，且须对该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或网上签署/续签协议或购买服务等）承担责任。除非有法律规定或司法裁定，且征得乙方的同意，否则，甲方的登录名和密码不得以任何方式转让、赠与或继承。如乙方同意甲方设置昵称的，甲方设置的昵称不得侵犯或涉嫌侵犯他人合法权益。
        </p>
        <p>
            &nbsp; 3.甲方同意：(1) 如发现任何人未经授权使用甲方的登录名和密码的情况，应立即通知乙方，并授权乙方暂停提供服务及展开调查，根据调查结果作出相应处理；(2) 确保甲方在每次结束使用本系统时，以正确方式离开本系统，注销或删除上网记录。乙方不因甲方未能遵守本款规定而发生的任何损失或损毁负责。甲方理解乙方对甲方请求采取行动需要合理时间，乙方对在采取行动前已经产生的后果（包括但不限于甲方的任何损失）不承担任何责任。
        </p>
        <p>
            &nbsp; 4.甲方使用本系统注册，即视为甲方同意乙方及乙方的合作机构向甲方注册时填写的电子邮箱、移动电话等发送与本系统及服务有关的电子邮件或短信。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>二、服务概述</strong></span>
        </p>
        <p>
            &nbsp; 甲方通过使用本系统及乙方提供的运营服务，可应用其银行卡账户在甲方的互联网交易过程电子登记系统进行注册验证，并根据其申请开通的相应权限与功能，使用信息校验、融资申请、融资项目审核、融资查询、融资款项接收、定向支付、融资还款等功能或服务，实现互联网融资。
        </p>
        <p>
            甲方确认并同意：为实现上述功能及服务，甲方注册为本系统用户即同步注册为本系统所对接的第三方互联网投融资平台之用户，甲方在通过本系统使用第三方投融资平台的相关功能及服务时，应严格遵守第三方对于用户的相关使用规定。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>三、服务内容</strong></span>
        </p>
        <p>
            （一）银行卡（银行账户）验证与绑定
        </p>
        <p>
            <span style="font-size: 16px;">&nbsp; 1.甲方使用本协议项下乙方提供的相关服务前，需要在产品界面输入其本人/企业持有的银行卡/银行账户信息并经乙方或乙方合作机构与银行信息交互及系统校验通过。甲方可指定该系统验证通过的银行卡/银行账户用于在融资过程中接收融资款项、进行融资还款或接收所应收到的其他款项（包括因融资标的的相应金额大于融资项目金额而产生的退款），并将该银行卡/银行账户与甲方在互联网交易过程电子登记系统上的注册用户完成绑定。</span>
        </p>
        <p>
            <span style="font-size: 16px;">&nbsp; 2.相关平台服务的上述流程和功能可能调整和变更，具体以乙方实际提供的为准。</span>
        </p>
        <p>
            <span style="font-size: 16px;">&nbsp; 3.甲方应当妥善保管其交易密码、登录密码及其手机号码等，若因甲方原因造成其交易、登录密码或验证码被盗用，乙方不承担任何责任。</span>
        </p>
        <p>
            &nbsp;4.在使用银行卡（银行账户）绑定服务前，甲方需符合下列要求：
        </p>
        <p>
            &nbsp; （1） 甲方使用本服务符合当地的法律法规，并能独立承担法律责任。
        </p>
        <p>
            &nbsp; （2） 甲方已开设了有效的银行账户。
        </p>
        <p>
            &nbsp; （3） 甲方需提供真实、有效、完整的银行卡（银行账户）等信息，并及时更新。
        </p>
        <p>
            （二）信息校验
        </p>
        <p>
            &nbsp; 乙方基于其与合作机构在征信领域展开的合作业务及甲方的授权，有权运用相关技术对甲方（如甲方非自然人的，则为甲方法定代表人或甲方指定的相应代理人）进行在线人脸活体检测和识别，或对甲方所提供的身份信息及信用信息（包括但不限于各类基本资料、银行账户信息等）等进行审核与校验，并建立信用数据。但基于目前信用信息校验的手段与技术水平有限，乙方对甲方身份及交易背景的准确性和绝对真实性不做任何保证。
        </p>
        <p>
            （三）电子签章
        </p>
        <p>
            &nbsp; 甲方可通过乙方提供的产品及服务，向该产品所对接的认证机构申请办理数字证书，并委托乙方为对其持有的数字证书进行托管。甲方确认并同意采用电子签名加密技术对交易信息进行固化。
        </p>
        <p>
            （四）融资标的管理
        </p>
        <p>
            &nbsp; 甲方可通过使用乙方提供的产品与服务，于该产品中上传或填写相关融资标的（包括应收账款、商业承兑汇票、仓单、发票、基础贸易合同、融资保证金等）的信息与资料，实现融资标的线上管理。
        </p>
        <p>
            （五）融资申请
        </p>
        <p>
            &nbsp; 甲方可通过使用乙方提供的产品与服务 发布融资需求，并委托乙方代为将其通过产品系统所采集到的甲方融资项目推送至乙方产品所对接的第三方互联网投融资平台（以下称“第三方平台”），在线发起融资申请。具体方式详见系统页面操作指引。
        </p>
        <p>
            （六）信息审核与确认
        </p>
        <p>
            &nbsp; 甲方可依据其在使用该产品时所开通的相应权限，对系统页面所展示的、与其相关的信息及资料（包括与甲方合作单位、融资项目、融资标的、收款账户及与基础贸易相关的信息与资料）进行审核与确认，并使用电子签章在线签署相关法律文件。
        </p>
        <p>
            （七）融资查询与管理
        </p>
        <p>
            &nbsp; 甲方在进行融资申请后，乙方根据产品所对接的第三方平台所反馈的结果在产品系统中进行相应记录，为甲方提供包括融资申请状态、融资金额、融资利率、融资期限、融资标的、还款日、还款方式、还款情况等信息在内的融资信息查询服务，及融资标的线上管理功能。具体方式详见系统页面操作指引。
        </p>
        <p>
            （八）款项接收
        </p>
        <p>
            &nbsp; 如乙方发布的融资项目根据第三方平台的相关规则成立并完成融资资金募集，甲方可通过使用乙方提供的产品与服务向第三方平台发出指令，实现融资款项发放至与甲方指定的收款账户（包括甲方自有账户或甲方指定的其他账户）。
        </p>
        <p>
            （九）融资还款
        </p>
        <p>
            &nbsp; （1） 甲方在第三方平台相关协议约定的还款日可以主动还款或委托商业银行代扣等方式进行还款，并通过乙方提供的产品或服务向第三方平台及相关合作机构发出相应的支付、余额扣划等操作指令，实现在约定时间内将融资还款及利息等足额清算给第三方平台之投资人。
        </p>
        <p>
            &nbsp; （2）如甲方在使用本系统及其相关服务时所绑定银行卡/银行账户之开户行为招商银行，则本系统支持甲方开通委托代扣功能，在符合前述条件的情况下，如甲方选择以委托代扣的方式进行付款操作，则视为甲方同意委托乙方向第三方支付机构发出划扣指令，由第三方支付机构对用户银行卡/银行账户内的资金进行扣划，以实现甲方的付款需求。甲方应充分理解委托代扣的法律含义并自行承担由此所产生的相应法律后果。
        </p>
        <p>
            &nbsp;（3）如甲方选择使用该产品提供的网关支付功能进行付款操作，则甲方承诺其对所使用的银行账户及账户内的资金享有完全的支配与处分的权利，确保资金来源合法，并对其使用的账户所进行的操作担全部责任。甲方确认：通过使用甲方用户账号及密码于该产品上进行的任何操作，以及甲方委托他人进行操作（包括但不限于使用他人的账户进行支付）的行为，均视为甲方的行为，相应的法律后果（包括因决策失误、操作不当、遗忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入、实施侵权或其他违法行为、委托他人代理交易时他人恶意或不当操作而引发的纠纷及由此造成的损失）由甲方自愿自行承担，甲方不得以非其本人操作为由主张撤销或变更。
        </p>
        <p>
            （十）协议管理
        </p>
        <p>
            &nbsp; 本协议经甲方以网络在线点击确认的方式订立。甲方委托乙方保管所有与本协议有关的书面文件或电子信息。甲方确认并同意由乙方提供的与本协议有关的书面文件或电子信息应作为本协议有关事项的终局证明。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>四、承诺及说明</strong></span>
        </p>
        <p>
            &nbsp; 1.甲方确认，其委托乙方推送至第三方平台的融资项目可能存在不成功的情况，相关交易不成功的风险，由甲方自行承担。
        </p>
        <p>
            &nbsp; 2.甲方保证其为履行本协议而向乙方提供的全部资料均真实、有效。
        </p>
        <p>
            &nbsp; 3.甲方确认其所有操作均为其本人的真实意思表示。
        </p>
        <p>
            &nbsp; 4.乙方将尽商业上的合理努力去要求与乙方合作的第三方主体不得保留甲方的信息或对确需留存的信息采取保护措施，但乙方无法保证第三方确定会采取相应保护措施，乙方亦不对这些主体的行为及后果承担任何责任。如果甲方发现第三方的网页或应用程序存在风险时，甲方可停止使用相应服务；甲方仍然使用相应服务的，自行承担所带来的后果或自行向第三方进行追索。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>五、服务终止</strong></span>
        </p>
        <p>
            &nbsp; 1. 甲方有权向乙方要求注销其账户，经乙方审核同意的，乙方将注销账户。届时，甲、乙双方基于本协议的合同关系即终止。乙方的账户被注销后，甲方不再负有为甲方保留或向甲方披露账户中任何信息的义务，也没有义务向甲方或第三方转发任何甲方未曾阅读或发送过的信息。
        </p>
        <p>
            &nbsp; 2. 甲方理解并同意，与乙方的合同关系终止后：（1) 乙方有权继续保存用户的资料。（2) 甲方在使用服务期间存在违法行为或违反本协议的行为的，乙方仍可依据本协议向甲方主张权利或依法依规向行政、司法等机关进行披露。（3）甲方在使用服务期间因使用服务与其他第三方之间发生的关系，不因本协议的终止而终止，向甲方提供服务的其他第三方仍有权向甲方主张权利，甲方应继续按甲方与其他第三方的协议/合同履行义务。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>六、商标、知识产权、专利的保护</strong></span>
        </p>
        <p>
            &nbsp; 1.甲方及关联公司所有系统及甲方上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由甲方或甲方关联公司依法拥有其知识产权（包括但不限于商标权、专利权、著作权、商业秘密等）。
        </p>
        <p>
            &nbsp; 2.非经甲方或甲方关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表甲方程序或内容。
        </p>
        <p>
            &nbsp; 3.尊重知识产权是甲方应尽的义务，如有违反，甲方应承担损害赔偿责任。
        </p>
        <p style=";margin-bottom:0;line-height:33px">
            <span style="font-size: 18px;"><strong>七、隐私及保密条款</strong></span>
        </p>
        <p>
            &nbsp; 1. 乙方对于甲方提供的、乙方自行收集的、经认证的信息将按照本协议予以保护、使用或者披露。
        </p>
        <p>
            &nbsp; 2.乙方收集资料的主要目的在于向甲方提供顺利、有效和度身订造的交易经历。乙方仅收集乙方认为就此目的及达成该目的所必须的关于甲方的资料。
        </p>
        <p>
            &nbsp; 3.乙方可能通过公开或私人资料来源收集甲方的额外资料，以更好地了解甲方的需求及信用状况，并为甲方度身订造服务、解决争议并有助确保在乙方进行安全交易。
        </p>
        <p>
            &nbsp; 4.乙方有权按照甲方在网站上的行为自动追踪关于甲方的某些资料。在不透露甲方隐私资料的前提下，乙方有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
        </p>
        <p>
            &nbsp; 5.乙方有权在乙方的某些网页上使用诸如“Cookies”的资料收集装置。
        </p>
        <p>
            &nbsp; 6.乙方设有严格的数据安全系统，对甲方信息进行同步记录和高强加密，防止未经授权的任何人获取甲方信息，严格保护甲方的财务隐私和甲方信息，但鉴于技术限制，乙方不能确保甲方的全部私人通讯及其他资料不会通过本协议中未列明的途径泄露出去。
        </p>
        <p>
            &nbsp; 7.乙方可根据有关法律要求向司法机关和政府部门提供甲方的资料。在甲方未能按照与乙方签订的服务协议或者与乙方其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，乙方有权根据自己的判断或者与该笔交易有关的其他用户的请求披露甲方的资料，并做出评论。
        </p>
        <p>
            &nbsp; 8.如果甲方严重违反乙方的相关规则或违反相关交易合同条款的，乙方有权对甲方提供的及乙方自行收集的甲方的信息和资料编辑入网站黑名单，并依法依规将该黑名单报送相关征信机构或向第三方披露。
        </p>
        <p>
            &nbsp; 9.因服务需要，乙方有权将甲方提交的或乙方自行收集的甲方的资料和信息与第三方进行数据共享，以便乙方和第三方进行交易管理及对甲方的其他申请进行审核之用，如果由此造成甲方的经济损失，乙方无需承担法律责任。
        </p>
        <p>
            &nbsp; 10.在乙方提供的交易活动中，甲方承诺对所取得的相关交易相对人信息只用于与交易相关的合法、合理用途。甲方无权要求乙方提供其他用户的资料。
        </p>
        <p>
            &nbsp; 11.甲方不得对乙方服务的任何部分或全部以及通过乙方取得的任何形式的信息，进行复制、拷贝、出售、转售或用于任何其它商业目的。
        </p>
        <p>
            &nbsp; 12.本协议签署后, 除非事先得到乙方的书面同意, 甲方应承担以下保密义务：
        </p>
        <p>
            &nbsp; 12.1不得向投融资平台外的任何第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息（以下简称“保密信息”）。
        </p>
        <p>
            &nbsp; 12.2只能将保密信息和其内容用于本协议项下的目的, 不得用于任何其他目的。本款的约定不适用于下列保密信息：
        </p>
        <p>
            &nbsp; &nbsp; a. 从披露方获得时，已是公开的；
        </p>
        <p>
            &nbsp; &nbsp; b. 从披露方获得前，接受方已经获知的；
        </p>
        <p>
            &nbsp; &nbsp; c. 从有正当权限并不受保密义务制约的第三方获得的；
        </p>
        <p>
            &nbsp; &nbsp; d. 非依靠披露方披露或提供的信息独自开发的。
        </p>
        <p>
            &nbsp; 13.甲方因下列原因披露保密信息，不受前款的限制：
        </p>
        <p>
            &nbsp; 13.1向甲方的董事、监事、高级管理人员和雇员及其聘请的会计师、律师、咨询公司披露。
        </p>
        <p>
            &nbsp; 13.2 因遵循可适用的法律、法规的强制性规定而披露。
        </p>
        <p>
            &nbsp; 13.3 依据其他应遵守的法律法规向有权机构进行的披露。
        </p>
        <p>
            &nbsp; 14. 甲方应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。
        </p>
        <p>
            &nbsp; 15.甲方应促使其向之披露保密信息的人严格遵守本条约定。
        </p>
        <p>
            &nbsp; 16.甲方在本条项下的权利和义务应在本协议终止或到期后继续有效。
        </p>
        <p>
            <span style="font-size: 18px;"><strong>八、其他</strong></span>
        </p>
        <p>
            &nbsp; 1.本协议由甲方采用电子协议形式签订，甲乙双方均认可前述形式签署本协议的法律效力。甲方使用其在本系统注册的账号登录后，根据产品的相关规则通过点击确认或类似方式签署的电子协议即视为甲方的真实意愿并以甲方的名义签署本协议。甲方应妥善保管自己的账户密码等账户信息，不得以账户密码等账户信息被盗用或其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。本协议自文本于平台生成之日起生效（即甲方于线上点击签署本协议之日，且不论乙方是否加盖公章，均视为双方已达成合意）。
        </p>
        <p>
            &nbsp; 2.如甲方在使用乙方所提供的产品或服务进行融资的过程中，为其履行还款义务而提供保障措施（包括但不限于购买保险、提供远期兑付凭证、应收账款、仓单质押、保证金等），则甲方需相应委托乙方或乙方的合作机构作为质权代理人/债权人代理人、远期兑付凭证保管人、仓单保管人或保证金代管人，代为签署、履行相关协议及进行融资标的保管【具体操作细则由《投融资平台服务协议（融资人版）》予以确定）】，但乙方所提供的保管服务及代理行为不构成对甲方履行还款义务的任何担保。
        </p>
        <p>
            &nbsp; 2.由于法律及监管政策变化或包括且不限于地震、火灾、战争、电力中断、黑客攻击、计算机病毒在内的非乙方原因系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。
        </p>
        <p>
            &nbsp; 3.本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。
        </p>
        <p>
            &nbsp; 4.双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
        </p>
        <p>
            <br/>
        </p>
    </div>

</body>
</html>

