<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: justify;
        }

        body {
            /*background: #f1f1f1;*/
            font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: #000;
        }

        .wrap {
            width: 680px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
            position: relative;
        }

        h1 {}

        h3 {
            margin-bottom: 10px;
            font-size: 16px;
        }

        .fn-mb-10 {
            margin-bottom: 10px!important;
        }

        .fn-mb-20 {
            margin-bottom: 20px;
        }

        .fn-mb-30 {
            margin-bottom: 30px;
        }

        .fn-mb-50 {
            margin-bottom: 50px;
        }

        .fn-pl-20 {
            padding-left: 20px;
        }

        .fn-pl-30 {
            padding-left: 30px;
        }

        .fn-pl-40 {
            padding-left: 40px;
        }

        .fn-ml-40 {
            margin-left: 40px;
        }

        .text-align-left {
            text-align: left!important;
        }

        .text-align-center {
            text-align: center!important;
        }

        .text-align-right {
            text-align: right!important;
        }

        .lh-36 {
            line-height: 36px;
        }

        .fs-16 {
            font-size: 16px;
        }

        .underline {
            text-decoration: underline;
        }

        .text-indent {
            text-indent: 35px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 40px;
            table-layout: fixed;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            font-weight: 500;
        }

        .word-break {
            word-break: break-all;
            white-space: normal;
        }
    </style>
</head>

<body>
<div class="wrap">
    <p class="fn-mb-50 text-indent">
        <b>
            欢迎阅读《投融资平台服务协议（融资人版）》。本协议详述融资人在投融资平台(以下简称“本平台”、“投融资平台”或“平台”)使用本服务所须遵守的条款和条件。融资人使用投融资平台服务前，必须先成为投融资平台的会员，阅读、同意并接受本协议中所含的所有条款和条件。本协议具有法律效力，请融资人审慎阅读并选择接受或不接受本协议。除非融资人接受本协议所有条款，否则融资人无权使用投融资平台提供的服务。融资人一经接受投融资平台服务即视为对本协议全部条款已充分理解并完全接受。
        </b>
    </p>
    <h1 class="text-align-center fn-mb-20">投融资平台服务协议（融资人版）</h1>

    <p class="text-align-right fn-mb-30">编号：&nbsp;&nbsp;@(Model.投融资平台服务协议_融资人版) &nbsp;&nbsp; </p>

    <h3>1、投融资平台服务</h3>
    <div class="fn-mb-30 fn-pl-20">
        <p>
            1.1 融资服务是由投融资平台向会员提供的在线服务。服务内容主要包括：融资项目信息发布、投融资交易管理、独立于交易双方的第三方信息见证等，具体详情以投融资平台当时提供的服务内容为准。招商银行小企业e家注册会员或第三方网站平台会员登录投融资平台并同意接受本《投融资平台服务协议（融资人版）》后，该会员自动成为本平台会员，即融资人(可为个人、企业、其他机构等)。
        </p>
        <p>
            1.2 本平台的会员可来自投融资平台认可的第三方认证的会员，该第三方包括但不限于金融机构、非金融机构的企业法人、社会团体等本平台认可的合格第三方。
        </p>
        <p>
            1.3 来自合格第三方的会员，应确保自身在第三方注册信息的真实性和完整性，并应严格遵守第三方对于会员的相关使用规定。如因违反第三方规定而造成会员无法登录投融资平台而造成的声誉、资金、设备等一切损失与本平台无关。来自合格第三方的会员，自首次登录投融资平台之日起，即视为自动接受投融资平台会员协议的约束，成为本平台的会员。
        </p>
        <p>
            1.4本平台运营商为投融资双方在本平台进行的投融资交易提供技术服务，不涉及投资人和融资人的交易内容及其交易资金管理服务。投资人和融资人的交易约定内容和风险应由投融资双方各自承担；交易资金管理服务由本平台指定的第三方支付机构提供。
        </p>
        <p>
            1.5 本平台独自或委托第三方为融资人提供信息（包括但不仅限于各类基本资料、财务、银行账户信息等）见证服务，并建立信用数据。平台应尽合理的努力，采取各种其认为必要手段对平台会员的身份进行识别，但是基于目前信用信息见证的手段有限，平台对会员身份的准确性和绝对真实性不做任何保证。
        </p>
        <p>
            1.6 平台所有通知将通过本平台通知系统、融资人在平台预留电子邮箱、手机短信、语音电话、或其他融资人确认的通知方式发送。融资人应自行确保上述信息的真实和有效性，对于发生变更的，应自行及时进行维护。融资人自行承担因未及时维护上述信息产生的直接或间接的任何支出或损失，投融资平台不承担任何责任。
        </p>
        <p>
            1.7 在不违反适用法律的强制性规定的前提下，本平台向融资人提供的服务有可能会发生变更或者增加。
        </p>
    </div>

    <h3>2、投融资平台交易</h3>
    <div class="fn-mb-20 fn-pl-20">
        <p>
            2.1 涉及主体
        </p>
        <p>
            具体的投融资交易将可能涉及如下各方和保障措施（根据不同的投融资交易，涉及主体/保障措施存在增加或减少的可能性）：
        </p>
    </div>
    <table class="table" style="margin-bottom: 20px;">
        <colgroup>
            <col width="100px" />
            <col/>
            <col width="150px"/>
        </colgroup>
        <tr>
            <th>主体</th>
            <th>定义</th>
            <th>备注</th>
        </tr>
        <tr>
            <td>融资人</td>
            <td class="text-align-left">
                通过本平台发布融资需求并受本协议约束的平台会员，发布内容包括但不限于融资金额、年化利率、融资期限、经平台或平台委托的第三方见证的融资人基本信息等。
            </td>
            <td class="text-align-left"></td>
        </tr>
        <tr>
            <td>投资人</td>
            <td  class="text-align-left">
                受《投融资平台服务协议（投资人版）》规定的约束，根据自身风险承受能力和资产状况等，在本平台上对融资人发布的融资项目，进行投资，获得投资收益，并自行承担风险的平台会员。
            </td>
            <td class="text-align-left"></td>
        </tr>
        <tr>
            <td>第三方支付</td>
            <td  class="text-align-left">
                具有人民银行支付牌照的第三方支付机构，对投资人和融资人在本平台上的借贷过程实现资金保管、划拨、还款等资金交易行为。第三方支付机构由平台自行指定。
            </td>
            <td  class="text-align-left"></td>
        </tr>
        <tr>
            <td>投融资平台</td>
            <td  class="text-align-left">
                指为融资人提供发布融资项目及投资人进行投资提供技术支持，为投融资双方提供信息发布与管理、投融资交易管理等技术服务的平台。
            </td>
            <td  class="text-align-left"></td>
        </tr>
        <tr>
            <td rowspan="5">提供保障措施的主体</td>
            <td  class="text-align-left">1．保险公司。由平台自行指定。</td>
            <td class="text-align-left">适用于保证保险</td>
        </tr>
        <tr>
            <td class="text-align-left">2．担保人（包括质押人、保证人）</td>
            <td class="text-align-left">适用于质押、保证担保</td>
        </tr>
        <tr>
            <td class="text-align-left">3．债权远期受让方</td>
            <td class="text-align-left">适用于第三方债权远期受让</td>
        </tr>
        <tr>
            <td class="text-align-left">4．差额补足方</td>
            <td class="text-align-left">适用于第三方提供差额补足</td>
        </tr>
        <tr>
            <td class="text-align-left">5．其他</td>
            <td class="text-align-left">根据具体的投融资项目确定</td>
        </tr>
    </table>
    <div class="fn-pl-20 fn-mb-10">
        <p>
            2.2 平台交易
        </p>
        <p class="fn-pl-20">
            2.2.1 融资人通过本平台发布融资需求，并接受本平台投资人的出资。融资人将通过本平台指定的第三方支付机构进行资金交易和结算行为，如获取投资人的投资款以及向投资人进行还款等。自投资款发放至融资人指定的账户之日起，视为投资人和融资人正式确立借贷合同关系，平台将上述相关事宜根据双方在本平台预留的联系方式通知双方。
        </p>
        <p class="fn-pl-20">
            2.2.2融资项目中投资人和融资人的真实身份、双方之间借贷关系的确立及具体内容以本平台保存的相关资料和交易记录为准。投资人和融资人对此均无异议。
        </p>
        <p class="fn-pl-20">
            2.2.3融资人通过和使用第三方支付机构进行资金的划转、存放，在任何情况下均不产生任何形式的孳息。融资人无权就此向平台/第三方支付机构进行追索。
        </p>
        <p class="fn-pl-20">
            2.2.4融资人同意：融资人通过平台发布的融资信息为本协议不可分割的组成部分。
        </p>
        <p>2.3 融资发布</p>
        <p class="fn-pl-20">
            2.3.1融资人通过本平台发布融资需求前，应向投融资平台提交必要的名称、地址、人民银行征信信息、企业法定代表人姓名和身份证明（如融资人为企业）、开户行及账号等信息，或投融资平台认为必要的其他信息。平台有权根据融资人具体情况予以拒绝发布或临时撤销融资人的融资需求信息。
        </p>
        <p class="fn-pl-20">
            2.3.2融资人发布融资需求的模式：
        </p>
        <p class="fn-pl-20">
            融资人可自行或委托第三方通过本平台网站将融资需求发送至本平台，或通过使用第三方提供的互联网交易过程电子登记系统等第三方网站/系统委托第三方将融资需求发送至本平台。融资人对融资项目需求信息真实性、准确性、合法性负责，对平台最终发布的融资项目需求信息无异议，同意承担所有相关法律责任。
        </p>
        <p class="fn-pl-20">
            2.3.3融资人发布的融资项目需求信息包括但不仅限于以下内容：
        </p>
        <p class="fn-pl-40">
            a. 融资金额：指融资人所发布项目所需的融资上限金额。
        </p>
        <p class="fn-pl-40">
            b. 年化利率：由融资人发布的借款利率，以年化利率表示。（月利率=年化利率/12，日利率=年化利率/360。如采用浮动利率，须指定利率参考标准及利率调整日, 具体由项目说明书列明）
        </p>
        <p class="fn-pl-40">
            c. 还款方式：指融资人还款的方式，包括但不限于“一次性到期还本付息”、“定期等额本息还款(含平台手续费)”或“定期等额本金还款”等方式，投资人将按照融资人的还款方式获得不同收益。
        </p>
        <p class="fn-pl-40">
            d. 最小出资单位：本次交易，由融资人所设置的投资人的最低出资限额，投资人可按照该最小出资单位的整数倍增加出资金额。
        </p>
        <p class="fn-pl-40">
            e. 起息日/放款日：指本次交易，融资款项通过第三方支付机构发放至融资人指定的账户之日。起息日/放款日为银行在中国大陆的对公业务工作日。
        </p>
        <p class="fn-pl-40">
            f. 融资期限：融资期限是指自起息日起至到期日止的期间（算头算尾）。
        </p>
        <p class="fn-pl-40">
            g. 还款日：还款日是指融资人在融资需求中列明的根据约定的还款方式所确定的还款日期，为融资人支付利息和/或本金和/或相关手续费的日期；如当月无该日期，则以当月的最后一日为还款日。多期还款的情况下，融资项目到期日为最后一期的还款日。<b>每个融资项目可以设置多个还款日，每个还款日融资人可以进行部分还款或全额还款。</b>
        </p>
        <p class="fn-pl-40">
            h.到期日：指融资项目的融资期限届满之日。在本协议中最后一期还款日和到期日为同一日。
        </p>
        <p class="fn-pl-40">
            i.处置完成日：指如需通过实现保障措施用以偿还投资人的投资本金和收益、相关费用时，提供保障措施的主体实现处置流程并完成用以偿还投资人投资本金和收益、相关费用的处置资金支付的日期。处置完成日不能晚于到期日后的三十个工作日。平台将通过合理形式通知投资人。
        </p>
        <p class="fn-pl-40">
            j.结算日：当融资人正常还款时，结算日为融资人还款后第三方支付机构发起资金划转的日期，一般为到期日同一日或其后某一工作日（具体由项目说明书列明），到期日与结算日之间（不算头不算尾）的投资人收益由平台协调第三方以同等年化利率对投资人进行补贴；如需通过实现保障措施用以偿还投资人的投资本金和收益、相关费用时，结算日为保障措施完成后第三方支付机构发起资金划转的日期，一般为处置完成日同一日或其后某一工作日，处置完成日与结算日之间（不算头不算尾）的投资人收益由平台协调第三方以同等年化利率对投资人进行补贴。
        </p>
        <p class="fn-pl-40">
            k.资金清算期间：当融资人正常还款时，资金清算期间指到期日起至结算日止的期间（不算头不算尾）；如需通过实现保障措施用以偿还投资人的投资本金和收益、相关费用时，资金清算期间指处置完成日起至结算日止的期间（不算头不算尾），具体天数由项目说明书列明。
        </p>
        <p class="fn-pl-40">
            l.项目期限：指融资项目期限（天数）与资金清算期间（天数）之和，于项目成立时确定并由项目说明书列明，其不因提供保障措施的主体实现处置流程而改变。平台运营商有权基于其在项目期间内为融资人所提供的服务向融资人收取平台服务费，具体收费标准详见本协议。2.4.4条的相关约定。
        </p>
        <p>2.4 融资实现</p>
        <p class="fn-pl-20">
            2.4.1融资人同意使用本平台指定的第三方支付机构所提供的交易资金管理服务。第三方支付机构将根据平台发送的交易指令进行资金支付、接收、保管、退款、发放、代扣平台服务费、划转出资本息收益等服务，并为资金在所有过程中的安全性提供保障。
        </p>
        <p class="fn-pl-20">
            2.4.2融资人了解并同意：本平台将通过多种方式操作（包含一位或多位投资人投资）来实现单一或多个项目的融资需求。
        </p>
        <p class="fn-pl-20">
            2.4.3 融资人了解并同意：投标结束后，如所有投资人投标/投资金额之和大于零但未达到融资金额的，平台有权自行评估并确定融资项目是否成立。如平台决定融资项目成立的，第三方支付机构将按照平台指令，将投资人的投资资金支付至融资人所指定的账户。自上述投资金额发放至融资人指定的账户之日起，将视同投资人和融资人正式确立借贷合同关系；如平台决定融资项目不成立的，第三方支付机构将按照平台指令，将投资人的投资本金最晚在起息日当天归还给投资人，期间不产生任何形式的孳息。融资人未经平台书面同意，不得以所有投资人投标金额之和小于融资金额为由，单方面撤销融资项目。
        </p>
        <p class="fn-pl-20">
            2.4.4 如融资人在本平台发布的融资项目成立，则融资人需根据实际融资金额向本平台缴纳相关费用，具体标准如下：
        </p>
    </div>
    <table class="table fn-mb-10">
        <colgroup>
            <col width="120px" />
            <col/>
        </colgroup>
        <tr>
            <td>平台服务费</td>
            <td class="text-align-left">平台服务费=实际融资金额×年化服务费费率/360×项目期限。其中年化服务费费率具体金额以平台页面展示及实际扣收为准。</td>
        </tr>
        <tr>
            <td>保险费（如有）</td>
            <td class="text-align-left">保费=实际融资金额及息费金额合计×年化保费费率/360×融资期限其中年化投保费费率以平台页面展示及实际扣收为准。</td>
        </tr>
        <tr>
            <td>其他费用（如有）</td>
            <td class="text-align-left">
                包含融资人应向招商银行股份有限公司（含其辖属分支机构，下同）支付的保管远期兑付凭证和进行信息见证 (包括但不限于远期兑付凭证托管费、电子商务-商户管理费等)等各项手续费(详见本协议3.3条之约定)、投融资平台及其他服务机构收取的各项费用。
            </td>
        </tr>
        <tr>
            <td>特别说明</td>
            <td class="text-align-left">
                融资总成本=应付利息+保险费+其他费用+平台服务费 （具体费用据实计算） <br/>
                其中融资成本及应付利息等具体金额以平台发出的《投融资平台交易通知书》所列明金额为准。
            </td>
        </tr>
    </table>
    <div class="fn-mb-10">
        <p class="fn-pl-40">
            2.4.5融资人在此授权第三方支付机构根据平台的指令将平台服务费、保险费、保管远期兑付凭证、进行信息见证及其他所有费用等从投资人支付的投资金额（即实际融资金额）中或融资人及其相关方支付的息费总额中直接扣收。融资人确认该平台服务费、保险费、其他费用的扣除不影响融资人根据实际融资金额向投资人支付融资利息。
        </p>
        <p class="fn-pl-40">
            2.4.6如融资项目在本平台未能成立，则融资人无需缴纳上述费用。
        </p>
        <p class="fn-pl-20">
            2.5还款
        </p>
        <p class="fn-pl-40">
            2.5.1融资人有义务根据实际融资金额、利率、还款方式、融资期限等，向投资人偿还本金和利息。
        </p>
    </div>
    <table class="table fn-mb-10">
        <tr>
            <td style="width: 80px;">正常还款</td>
            <td class="text-align-left">
                <div class="word-break">
                还款日当天的17点前，融资人/提供保障措施的主体（如有）将还款资金足额支付至投融资平台指定的第三方支付机构的，视为融资人正常还款。第三方支付机构将按照平台指令，将融资人的应付本息和各项费用划拨至投资人指定的账户或收费方指定账户。融资人在还款日前还款的，仍按照本协议约定的融资期限支付融资利息。融资人按上述时限支付还款资金，经第三方支付机构清算划转，投资人在结算日下一工作日的24点前足额收到投资本息的，不视为发生投资人回收逾期，融资利息仍按照本协议约定的融资期限计算。到期日与结算日之间（不算头不算尾）的利息由平台协调第三方以同等年化利率对投资人进行补贴。
                </div>
            </td>
        </tr>
        <tr>
            <td>提前还款</td>
            <td class="text-align-left">
                <div class="word-break">
                未经平台书面同意，融资人不得提前归还融资。为避免歧义，融资人在还款日前将还款金额支付给投融资平台指定的第三方支付机构不视为提前归还融资。
                </div>
            </td>
        </tr>
        <tr>
            <td>还款方式</td>
            <td class="text-align-left">
                <div class="word-break">
                    还款方式可分为主动还款或代扣还款等方式，代扣还款须事先设置扣款账户。投融资平台或其他服务机构为融资人提供还款资金通道服务需要额外收取相应手续费用，融资人对此完全知悉并认可。相关收费标准以当时公示情况为准。
                </div>
            </td>
        </tr>
    </table>
    <div class="fn-mb-10">
        <p class="fn-pl-20">2.6逾期</p>
    </div>
    <table class="table fn-mb-10">
        <tr>
            <td rowspan="2" style="width:80px">融资人逾期还款</td>
            <td class="text-align-left">
                <div class="word-break">
                融资人未按照本协议的约定在还款日或到期日按期足额还款的，则视为融资人发生逾期还款。融资人逾期不因平台与投资人之间的任何宽限或处置期限而发生改变。
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">
                <div class="word-break">
                如融资项目已安排相关保障措施，融资人未按照本协议的约定在还款日或到期日按期足额还款的，则视为融资人发生逾期还款，并触发相关保障措施提供主体的相应责任。
                </div>
            </td>
        </tr>
        <tr>
            <td>投资人回收逾期</td>
            <td class="text-align-left">
                <div class="word-break">
                投资人在结算日下一工作日24点前未能足额收到投资本息的，则视为发生投资人回收逾期。
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="3">逾期利息</td>
            <td class="text-align-left">
                <div class="word-break">
                平台有权对融资人进行到期提醒及逾期催收。 <br/>
                若融资人逾期还款，融资人应向投资人支付逾期利息，平台另有规定或双方另有约定的除外。
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">
                <div class="word-break">
                如融资项目未安排相关保障措施，则逾期利息自融资人还款逾期之日起按本协议约定利率150%按日计收，直至清偿完毕之日。前述逾期利息不计复息，由融资人自行承担。
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">
                <div class="word-break">
                如融资项目已安排相关保障措施，平台将通过合理形式通知投资人，到期日与处置期完成日之间（不算头算尾） 的逾期利息按融资项目说明书约定的年化利率正常计算，并由提供保障措施的主体或融资人承担（以具体保障措施的相关约定为准）。
                </div>
            </td>
        </tr>
        <tr>
            <td>还款资金分配</td>
            <td class="text-align-left">
                <div class="word-break">
                如融资人的还款金额不足以足额清偿全部到期应付款项的，平台将按如下顺序指令第三方支付机构向投资人支付应付款项： <br/>
                （1）单期还款：当融资人仅有一期应付款项未按时全额支付时，其还款顺序依次为： <br/>
                A.本金；B.利息；C.截止到该还款日的逾期利息；D.各项费用。 <br/>
                （2）多期还款：当融资人存在多期应付款项未按时全额支付时，其还款资金须优先偿还其所欠的多期本金（总和），并从拖欠时间最长的本金开始偿还；本金支付完毕后，其剩余还款资金应根据应付款项拖欠的时间，从拖欠时间最长的应付款项开始偿还，依次（期）偿还；同一期应付款项的偿还顺序均为：
                <br/>
                A.本金；B.利息；C.截止到该还款日的逾期利息; D.各项费用。
                </div>
            </td>
        </tr>
    </table>
    <div class="fn-mb-10 fn-pl-20">
        <p>
            2.7债权转让
        </p>
    </div>
    <table class="table fn-mb-30">
        <tr>
            <td style="width: 80px">债权转让</td>
            <td class="text-align-left">
                融资人同意，在融资项目到期日前，投资人可向平台上其他第三方转让本协议项下其持有的全部或部分债权。此债权在实际转让时无需另行通知融资人。
            </td>
        </tr>
    </table>

    <h3>3、承诺及保证</h3>
    <div class="fn-mb-10 fn-pl-20">
        <p>
            3.1 融资人在此确认，其是按照中国法律合法设立并有效存续的企业法人、其他机构，具有一年以上的连续经营记录（如有），无欠缴税费、逃避债务等违法违规行为和不良信用记录，已取得签订并履行本协议所需的各项授权和批准； 或融资人承诺其是具有完全民事行为能力的自然人。
        </p>
        <p>
            3.2 融资人应根据投融资平台的要求如实提供相关情况（包括但不限于企业类型、所在地、人员数量等基本信息，如为自然人，则提供住所、身份证等相关信息）以及借款用途等相关信息。融资人承诺并保证其向投融资平台提供的所有信息均为最新、真实、完整和有效的。
        </p>
        <p>
            3.3保障措施。<b>融资人同意具体融资项目的保障措施以平台另行公示（如平台发布的项目说明书）为准。</b>
        </p>
    </div>

    <table class="fn-mb-10 table">

        <tr>
            <td colspan="2" width="100px"> 保证保险</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为保证保险的情况下： <br/>
                融资人无条件、不可撤销地委托第三方（包括但不限于平台）以投资人作为被保险人向平台指定的保险公司购买借款保证保险并签署相应的保险合同，并委托第三方（包括但不限于平台）作为融资人的代理人（具体由项目说明书列明），代为行使和履行投保人在保险合同项下的全部权利和义务。上述有关保证保险具体事宜以融资人/第三方（包括但不限于平台）另行签署的保险合同（由保险条款、投保单、保险单、保险凭证、批单和特别约定等组成）以及保险公司与招商银行股份有限公司签署的合作协议的约定为准。融资人对保险合同和合作协议的全部内容予以认可，该保险合同和合作协议对融资人具有约束力。
                <br/>
                同时，融资人亦同意投资人委托招商银行股份有限公司/第三方（包括但不限于平台，该主体不可同时作为投保人的代理人）作为被保险人的代理人（具体由项目说明书列明），代为行使/履行被保险人在保险合同项下权利和义务，包括但不限于代为向保险公司请求赔偿、发出出险通知、指定赔款的接收账户、与保险公司签署赔偿协议等。在保险公司进行赔付后（即自处置完成日起），即视为投资人在相应融资项目项下所持有的债权及其他从事权利已转移至保险公司享有，保险公司有权向融资人求偿，融资人对此无异议。
                <br/>
                融资人同意，融资人发生逾期还款时，对于保险公司承保的借款，投资人及其质权代理人有权选择行使质权、直接向保险公司索赔或采取其他的法律措施。
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="5">质押</td>
            <td rowspan="2">远期兑付凭证</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为远期兑付凭证质押担保的情况下： <br/>
                融资人可以其持有的远期兑付凭证为其在本协议及《投融资平台服务协议（投资人版）》项下对投资人所欠的债务提供质押担保。为保障投资人权益，融资人同意投资人委托招商银行股份有限公司（或通过其辖属分支机构，下同）作为投资人的质权代理人。质权代理人的权利包括：代理投资人与融资人就远期兑付凭证的质押担保事项另行签订远期兑付凭证质押合同（以下简称“质押合同”）；代理投资人行使质押合同项下质权人的权利、代为履行质权人的义务。同时，融资人亦同意投资人委托招商银行股份有限公司作为保管人对质押的实物远期兑付凭证按质押合同的约定进行保管。融资人同意向招商银行股份有限公司支付保管远期兑付凭证和进行信息见证的相关手续费(包括但不限于远期兑付凭证托管费、电子商务-商户管理费等)。
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">
                <div class="word-break">
                融资人承诺不得赠与、转让、再质押或以其他方式处分其质押的远期兑付凭证，亦不能以挂失或通过公示催告程序等方法主张其质押的远期兑付凭证无效。融资人承诺与保证，截至融资项目发布日： <br/>
                作为质押担保物的远期兑付凭证及其项下基础交易真实、合法、有效，记载事项完整； <br/>
                融资人完全享有远期兑付凭证权利； <br/>
                远期兑付凭证上不存在优先于投资人的权利，未转让或质押给除投资人以外的其他任何第三方，不存在被有权机关查封、冻结等情况； <br/>
                远期兑付凭证尚未到期。
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">应收账款</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为应收账款质押担保的情况下： <br/>
                融资人可以其持有的应收账款为其在本协议及《投融资平台服务协议（投资人版）》项下对投资人所欠的债务提供质押担保。 <br/>
                本协议项下应收账款指融资人因提供一定的货物、服务或设施而获得的要求债务人付款的权利以及依法享有的其他付款请求权，包括现有的和未来的金钱债权及其产生的收益，但不包括票据、信用证或其他有价证券而产生的付款请求权，以及法律、行政法规禁止转让的付款请求权。
                <br/>
                融资人同意投资人委托招商银行股份有限公司作为投资人的质权代理人。质权代理人的权利包括：代理投资人与融资人就应收账款的质押担保事项另行签订应收账款质押合同（以下简称“质押合同”）；代理投资人行使质押合同项下质权人的权利、代为履行质权人的义务。同时，融资人亦同意投资人委托招商银行股份有限公司代为收取应收账款相关材料、向应收账款项下债务人发出质押通知及在中征动产融资统一登记平台（含其不时的变更）办理质押登记等质押手续并保管质押过程中的相关凭证、文件等资料。融资人同意向招商银行股份有限公司支付信息见证的相关手续费(包括但不限于电子商务-商户管理费等)。
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">
                <div class="word-break">
                1、融资人保证根据投资人及其质权代理人要求将应收账款质押的事宜通知应收账款项下债务人，并配合办理应收账款质押登记手续。 <br/>
                2、融资人认可质权人/质权代理人指定的应收账款回款专户为所质押应收账款唯一的回款账户，并保证在债务人支付所质押应收账款项后及时通知平台，以归还本协议项下融资本息和各项费用。 <br/>
                3、融资人保证对所出质的应收账款享有完全的权利，且出质的应收账款在法律上不存在瑕疵，不存在限制转让的情形，在出质给投资人前未进行转让且未设置任何形式的担保。在出质后，融资人承诺不得赠与、转让、再质押或以其他方式处分其质押的应收账款（本协议或《投融资平台服务协议（投资人版）》另有约定除外）。
                <br/>
                4、融资人承诺与保证，截至融资项目发布日： <br/>
                作为质押担保物的应收账款及其项下基础交易真实、合法、意思表示真实，应收账款项下双方权利义务清晰，交易标的及付款方付款责任明确，没有允许应收账款双方进行债务抵销的条款； <br/>
                融资人对应收账款享有充分的处置权，不存在法定禁止或基础交易合同约定的禁止质押或转让的情形； <br/>
                应收账款上不存在优先于投资人的权利，不存在任何权利限制，未转让、未向投资人以外的任何第三方设定质押或其他任何形式的担保，不存在被有权机关查封、冻结等情况； <br/>
                应收账款尚未到期。
                </div>
            </td>
        </tr>
        <tr>
            <td>仓单</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为仓单质押担保的情况下： <br/>
                融资人可以其持有的仓单为其在本协议及《投融资平台服务协议（投资人版》项下对投资人所欠的债务提供质押担保。融资人同意投资人委托招商银行股份有限公司作为投资人的质权代理人，与融资人、货物保管/货物交易平台等机构就仓单质押担保事项另行签订仓单质押合同（以下简称“质押合同”）等法律文件，并代为行使质押合同项下质权人的权利、履行质权人的义务，包括向仓储物的保管人请求检验仓储物或者提取仓储物的样品、自行提取和处置仓单项下货物等。上述仓单质押及保管具体事宜以质押合同约定为准，融资人同意向招商银行股份有限公司支付保管仓单和进行信息见证的相关手续费(包括但不限于仓单保管费等)。
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">保证</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为第三方保证担保的情况下： <br/>
                融资人同意：投资人委托招商银行股份有限公司作为投资人的债权及担保权（如有）代理人，由保证人就连带责任保证担保事项向招商银行股份有限公司另行出具不可撤销担保书（以下简称“担保书”），并由招商银行股份有限公司代为行使担保书项下债权人的权利，包括但不限于向保证人进行追索等。上述保证担保的具体事宜以担保书的约定为准。
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">债权远期受让</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为债权远期受让的情况下： <br/>
                融资人同意投资人委托招商银行股份有限公司作为投资人的债权及担保权（如有）代理人，接受债权远期受让方出具的债权远期受让承诺函（以下简称“承诺函”），并由招商银行股份有限公司代为行使承诺函项下债权人的权利，包括但不限于向承诺人进行追索等。上述债权远期受让的具体事宜以承诺函约定为准。债权远期受让方履行债权受让义务后（自处置完成日起），即视为投资人在相应融资项目项下所持有的债权及其他从属权利已转移至债权远期受让方所享有，投资人与债权远期受让方无需就此另行签署债权转让协议，融资人对此无异议。
                <br/>
                融资人进一步同意，债权实际转让时无需另行通知融资人。
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">差额补足</td>
            <td class="text-align-left">
                <div class="word-break">
                在保障措施为差额补足的情况下： <br/>
                融资人同意投资人委托招商银行股份有限公司作为投资人的债权及担保权（如有）代理人，接受差额补足方出具的差额补足承诺函（以下简称“承诺函”），并由招商银行股份有限公司代为行使承诺函项下债权人的权利，包括但不限于向承诺人进行追索等。上述差额补足的具体事宜以承诺函约定为准。
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">其他</td>
            <td class="text-align-left">&nbsp;</td>
        </tr>
    </table>
    <div class="fn-mb-30 fn-pl-20">
        <p>
            3.4 融资人承诺：如发生任何影响或者可能影响融资人经济状况、信用状况、还款能力的事由，包括但不限于生产经营、财务情况等事项的变化，或应收账款项下债务人擅自改变应收账款对应的支付款项及/或支付路径，对应收账款对应的货物交付存在异议或其他保障措施及其提供主体发生影响投资人债权实现的任何情况的，融资人应于前述事项发生之日起5个工作日内通知投融资平台。
        </p>
        <p>
            3.5 融资人承诺根据发布的融资项目列明的借款用途使用融资资金，并保证不挪用融资资金或将融资资金用于以下目的和用途：
        </p>
        <p class="fn-pl-20">
            a. 以任何形式进入证券市场，或用于股本权益性投资；
        </p>
        <p class="fn-pl-20">
            b. 用于房地产项目开发；
        </p>
        <p class="fn-pl-20">
            c. 用于国家明令禁止或限制的经营活动；
        </p>
        <p class="fn-pl-20">
            d. 其他违反法律法规规定的用途。
        </p>
        <p>
            3.6 融资人承诺，不会利用投融资平台进行洗钱、非法集资或其他不正当交易行为，否则应依法独立承担法律责任。
        </p>
        <p>
            3.7 融资人确认，融资人授权和委托投融资平台或其他第三方根据本协议所采取的全部行动和措施的法律后果均归属于融资人；在任何情形下，投融资平台不是本协议项下任何融资的债务人或需要以其自有资金偿还本协议项下的任何融资或债务。投融资平台亦不是本协议项下债务的担保人或需要以其自有资金承担任何的担保责任。
        </p>
        <p>
            融资人进一步确认，招商银行股份有限公司仅作为融资项目见证机构、、远期兑付凭证保管人、仓单保管人、投资人的债权及担保权（如有）代理人等，不对融资人是否履行到期还款义务、远期兑付凭证及应收账款项下债务人、融资项目担保人、远期债权受让方、差额补足方等相关保障措施提供主体是否到期兑付、是否履行相关保障措施项下责任等可能导致投资人本金及收益遭受损失的风险承担任何责任或后果。上述见证服务、保管服务及代理等行为不构成对投资人投资资金本金归还和收益的任何担保。
        </p>
        <p>
            3.8 融资人承诺，根据本协议的约定按时还本付息；未经平台书面同意，不得单方面取消或要求平台取消已经发布的融资信息。
        </p>
        <p>
            3. 9融资人知悉并认可《投融资平台服务协议（投资人版）》与本协议共同构成的《投融资平台服务协议》即为完整的借贷合同。融资人知悉并认可《投融资平台服务协议（投资人版）》，并同意接受《投融资平台服务协议（投资人版）》的约束，认可《投融资平台服务协议（投资人版）》约定的投资人的权利和义务。
        </p>
    </div>

    <h3>4、特别约定</h3>
    <table class="table fn-mb-30">
        <tr>
            <td class="text-align-left">
                融资人承诺，融资人对其在使用相关互联网交易过程电子登记系统所提供的互联网支付功能 时所使用的银行账户及账户内的资金享有完全的支配不处分的权利，确保资金来源合法，幵 对其使用的账户所进行的操作担全部责仸。融资人确讣：通过使用融资人会员账号及密码于 该产品上进行的仸何操作，以及融资人委托他人进行操作（包拪但丌限于使用他人的账户进 行支付）的行为，均视为融资人的行为，相应的法律后果（包拪因决策失诨、操作丌当、遗 忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入、实施侵权或其他违 法行为、委托他人代理交易时他人恶意或丌当操作而引収的纠纷及由此造成的损失）融资人 自愿自行承担，不本平台无关，融资人丌以非其本人操作为由主张撤销或发更。
            </td>
        </tr>
    </table>

    <h3>5、投融资平台安全 </h3>
    <div class="fn-mb-30 fn-pl-20">
        <p>
            5.1 融资人成为本平台会员后，丌得将平台用户转让给第三方或者授权给仸何第三方使用， 融资人对其会员账户（含本平台讣可的第三方平台会员账号）在本平台一切操作应承担相应 的法律后果。
        </p>
        <p>
            5.2 融资人应自行保证其会员账户（含本平台讣可的第三方平台会员账号）及使用安全，幵 对其会员账户及其使用承担全部责仸。
        </p>
        <p>
            5.3 本平台提供密码验证作为识别融资人身仹的方式，融资人须自行保证密码的安全性。融 资人同意通过会员账号和密码在本平台进行的仸何操作均视为融资人自身的行为。
        </p>
        <p>
            5.4因融资人导致的仸何损失由融资人自行承担，该过错包拪但丌限于：决策失诨、操作丌 当、遗忘或泄露密码、密码被他人破解、融资人使用的计算机系统被第三方侵入、融资人委 托他人代理交易时他人恶意或丌当操作而造成的损失。
        </p>
    </div>

    <h3>6、违约及其他风险 </h3>
    <div class="fn-mb-30 fn-pl-20">
        <p>
            6.1 在任何情况（包括但不限于以下情况）下，本平台对投资人与融资人间交易所发生的任何损失不承担任何法律责任，包括但不限于资金损失、利润损失、营业中断损失等，本平台均不负责赔偿。
        </p>
        <p class="fn-pl-20">
            6.1.1 本平台系统停机维护期间。
        </p>
        <p class="fn-pl-20">
            6.1.2 电信设备出现故障不能进行数据传输的。
        </p>
        <p class="fn-pl-20">
            6.1.3 由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或延迟。
        </p>
        <p class="fn-pl-20">
            6.1.4 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本平台系统障碍不能执行业务的。
        </p>
        <p>6.2 发生下列任何一项或几项情形的，视为融资人违约。 </p>
        <p class="fn-pl-20">
            6.2.1 融资人违反其在本协议所做的任何承诺和保证的。
        </p>
        <p class="fn-pl-20">
            6.2.2 融资人的任何财产、本协议项下质物遭受没收、征用、查封、扣押、冻结、质押应收账款回款状况恶化等可能影响其履约能力的不利事件，且不能及时提供有效补救措施的。
        </p>
        <p class="fn-pl-20">
            6.2.3 融资人的财务状况出现影响其履约能力的不利变化，且不能及时提供有效补救措施的。
        </p>
        <p class="fn-pl-20">
            6.2.4 融资人未按照本协议的约定按期足额偿还融资。
        </p>
        <p class="fn-pl-20">
            6.2.5 担保人或其他保障措施提供方违反其在相关法律文件中的任何承诺、保证或义务或发生投融资平台、投资人基于合理判断可能影响其履约能力的其他事件的；
        </p>
        <p class="fn-pl-20">
            6.2.6 投融资平台、投资人基于合理判断可能影响投资人债权实现的其他情形。
        </p>
        <p>6.3 融资人未能按本协议的约定按期足额还款或发生其他投融资平台、投资人基于合理判断融资人可能发生本协议约定的其他违约事件的，本平台有权应投资人要求披露融资人真实身份信息并提供与双方借贷关系、融资款项发放和支付等相关资料。本平台和投资人/投资人委托的第三方有权采取下列任何一项或几项救济措施：</p>
        <p class="fn-pl-20">
            a. 要求第三方支付机构立即暂缓、取消支付全部或部分融资款项；
        </p>
        <p class="fn-pl-20">
            b. 宣布已发放融资款项全部提前到期，要求融资人立即偿还所有融资本金及项目约定的预期利息等并行使质权、担保权及其他保障措施下享有的权利；
        </p>
        <p class="fn-pl-20">
            c. 解除本协议，要求融资人立即偿还所有融资本金及项目约定的预期利息等并行使质权、担保权及其他保障措施下享有的权利；
        </p>
        <p class="fn-pl-20">
            d. 有权要求第三方机构立即暂停融资人在第三方机构开立的特定业务（具体由项目说明书或特殊条款列明），融资人对第三方机构按照平台要求暂停融资人在该第三方机构处的特定业务无异议，直至融资人还清所有本金、利息、各项费用、罚息及因逾期催收而产生的所有相关费用等。
        </p>
        <p class="fn-pl-20">
            e. 采取法律、法规以及本协议约定的其他救济措施。
        </p>
    </div>

    <h3>7、证据和计算 </h3>
    <div class="fn-mb-30 fn-pl-20">
        <p>
            7.1 融资人确认并同意，委托投融资平台对本协议项下的融资本金、利息、各项费用等金额进行计算；投融资平台对本协议项下任何金额的任何证明或确定，应作为该金额有关事项的终局证明。
        </p>
        <p>
            7.2 本协议经融资人通过投融资平台以网络在线点击确认的方式订立。融资人委托投融资平台保管所有与本协议有关的书面文件或电子信息；融资人确认并同意由投融资平台提供的与本协议有关的书面文件或电子信息应作为本协议有关事项的终局证明。
        </p>
    </div>

    <h3>8、保密条款 </h3>
    <div class="fn-mb-30 fn-pl-20">
        <p>8.1 本协议签署后, 除非事先得到本平台的书面同意, 融资人应承担以下保密义务： </p>
        <p class="fn-pl-20">
            8.1.1 不得向投融资平台外的任何第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息（以下简称“保密信息”）。
        </p>
        <p class="fn-pl-20">
            8.1.2 只能将保密信息和其内容用于本协议项下的目的, 不得用于任何其他目的。本款的约定不适用于下列保密信息：
        </p>
        <p class="fn-pl-40">
            a. 从披露方获得时，已是公开的；
        </p>
        <p class="fn-pl-40">b. 从披露方获得前，接受方已经获知的； </p>
        <p class="fn-pl-40">c. 从有正当权限并不受保密义务制约的第三方获得的；</p>
        <p class="fn-pl-40">d. 非依靠披露方披露或提供的信息独自开发的。 </p>
        <p>8.2 融资人因下列原因披露保密信息，不受前款的限制：</p>
        <p class="fn-pl-20">
            8.2.1 向融资人的董事、监事、高级管理人员和雇员及其聘请的会计师、律师、咨询公司披露。
        </p>
        <p class="fn-pl-20">
            8.2.2 因遵循可适用的法律、法规的强制性规定而披露。
        </p>
        <p class="fn-pl-20">
            8.2.3 依据其他应遵守的法律法规向有权机构进行的披露。
        </p>
        <p>8.3 融资人应采取所有其他必要、适当和可以采取的措施，以确保保密信息的保密性。</p>
        <p>8.4 融资人应促使其向之披露保密信息的人严格遵守本条约定。 </p>
        <p>8.5 融资人在本条项下的权利和义务应在本协议终止或到期后继续有效。</p>
    </div>

    <h3>9、其他说明 </h3>
    <div class="fn-mb-50 fn-pl-20">
        <p>
            9.1 广东网金控股股份有限公司作为投融资平台的运营服务提供商，履履行本协议项下平台技术运营服务的义务并享有相应权利。
        </p>
        <p>
            9.2 本协议的签订、履行、终止、解释均适用中国法律。各方同意，因本协议所产生的或与本协议有关的一切争议，各方应协商解决；协商无法达成一致的，各方一致同意将争议提交华南国际经济贸易仲裁委员会，按照申请仲裁时该会现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对各方均有约束力。
        </p>
        <p>
            9.3 因法律法规的规定或本平台向融资人提供的服务形式、内容发生实质变更的需要，在不损害融资人权益的前提下，本平台将有权更新《投融资平台服务协议（融资人版）》内容。相关更新内容将通过本平台予以公告。公告后，变更后的《投融资平台服务协议（融资人版）》即对融资人产生约束力。
        </p>
    </div>

    <div class="text-align-right">本协议发布于 <br/>
	<span style="color:#fff;opacity:0;height:1px;line-height:1px;overflow:hidden;font-size:0.001em;margin:0 50px 0 0;text-align:right">签章位置</span>
	2016年6月 </div>


</div>
</body>

</html>